<!DOCTYPE html>
<html lang="<%= lang %>">

<head>
  <%- include('head'); %>
    <style>
      h2 {
        margin-top: 42px;
      }

      .header {
        padding-top: 80px;
        padding-bottom: 0;
        overflow: hidden;
      }

      .header-images {
        margin: 40px auto 0;
        height: 300px;
        width: 900px;
        display: flex;
        align-items: flex-end;
        justify-content: center;
      }

      .trees {
        height: 300px;
        width: 1400px;
      }

      @media (min-width: 769px) {
        .header-images {
          margin-top: 80px;
        }
      }
    </style>
</head>

<body>
  <%- include('header'); %>
    <div class="purple banner-quote header">
      <div class="main-wrapper">Architecture, acoustics, music, design, engineering, finance, marketing, real estate,
        business planning, community, arts, fundraising and much more</div>
      <div class="header-images">
        <svg xmlns="http://www.w3.org/2000/svg" data-name="Layer 1" viewBox="0 0 613.353 700.561">
          <path
            d="m294.343 657.212-.781-17.576-.244-.129c-8.376-4.395-17.976 3.561-15.3 12.634 2.517 8.537 4.208 17.74 8.815 25.212a34.144 34.144 0 0 0 25.039 15.778l10.642 6.516a57.215 57.215 0 0 0-12.06-46.364 55.267 55.267 0 0 0-10.157-9.437c-2.549 6.72-5.954 13.366-5.954 13.366Z"
            fill="#f2f2f2" />
          <path
            d="M199.067 478.844c-20.488-21.129-50.177-33.247-81.456-33.247l-1.207.004a116.315 116.315 0 0 1-58.635-15.835l-1.852-1.08 1.491-1.536a113.373 113.373 0 0 0 19.993-28.307 34.282 34.282 0 0 1-27.667 8.938 35.104 35.104 0 0 1-25.77-16.506C13.03 373.537 0 348.37 0 329.195a116.669 116.669 0 0 1 38.063-86.091 72.651 72.651 0 0 0 24-54.172l-.006-1.452a164.774 164.774 0 0 1 4.89-39.873l.33-1.317 1.356.047a111.391 111.391 0 0 0 26.046-2.182 87.918 87.918 0 0 1-23.359-6.213l-1.458-.59.495-1.493c34.101-21.114 111.077-10.18 155.757-112.404C262.342-59.434 390.17 97.036 390.17 187.48c0 9.228-9.133 21.424-2.296 27.524 73.91 65.938 22.913 108.28 6.834 150.885-3.814 10.109 4.457 21.206 4.457 32.142 0 1.856-.047 3.772-.14 5.694l-.143 2.955-2.464-1.64a81.626 81.626 0 0 1-13.48-11.057 71.135 71.135 0 0 1-2.256 61.412c-7.746 14.62-15.24 25.085-22.272 31.105a116.29 116.29 0 0 1-159.343-7.656Z"
            fill="#e6e6e6" />
          <path
            d="M322.808 698.78a2.093 2.093 0 0 0 2.07-1.799c.089-.625 8.8-63.454.976-146.956-7.225-77.116-30.429-188.19-99.939-279.415a2.094 2.094 0 1 0-3.33 2.538c68.91 90.436 91.926 200.696 99.1 277.268 7.78 83.016-.864 145.355-.952 145.975a2.095 2.095 0 0 0 2.075 2.389Z"
            fill="#3f3d56" />
          <path
            d="M266.084 399.286a2.093 2.093 0 0 0 1.232-3.787c-.252-.183-25.68-18.506-63.696-32.425-35.143-12.866-88.582-24.53-143.597-7.02a2.093 2.093 0 1 0 1.27 3.989c53.887-17.15 106.358-5.679 140.887 6.963 37.473 13.72 62.427 31.7 62.675 31.88a2.085 2.085 0 0 0 1.229.4ZM361.896 160.653a2.093 2.093 0 0 0-3.688-1.502c-.201.239-20.307 24.282-36.928 61.197-15.364 34.124-30.845 86.585-17.343 142.718a2.093 2.093 0 1 0 4.07-.979c-13.224-54.983 1.995-106.491 17.09-140.02 16.384-36.388 36.114-59.982 36.312-60.217a2.085 2.085 0 0 0 .487-1.197Z"
            fill="#3f3d56" />
          <path
            d="M359.063 268.597c1.766 14.25 11.64 26 26 26a26 26 0 0 0 26-26c0-14.359-11.702-24.672-26-26-15.171-1.408-28.268 7.705-26 26Z"
            fill="#2f2e41" />
          <path fill="#ffb6b6" d="m397.105 687.328 9.901-.001 4.71-38.19-14.613.001.002 38.19z" />
          <path d="M396.757 697.656h30.447v-.386a11.851 11.851 0 0 0-11.85-11.85h-.002l-5.561-4.22-10.377 4.22h-2.658Z"
            fill="#2f2e41" />
          <path fill="#ffb6b6" d="m358.105 687.328 9.901-.001 4.71-38.19-14.613.001.002 38.19z" />
          <path
            d="M357.757 697.656h30.447v-.386a11.851 11.851 0 0 0-11.85-11.85h-.002l-5.561-4.22-10.377 4.22h-2.658ZM431.177 448.137l7 24-8.246 101.645s4.246 6.355 1.246 6.355-6.847 1.41-4.423 5.204-5.86 17.421-5.86 17.421l-11.717 72.375-14.93-.22s-7.59-4.23-3.33-8.505 7.26-4.275 3.26-8.275-4-2.796-4-5.898-4.008-41.016 5.496-55.559l-2.863-59.295-6.745 58.161-13.888 77.59-14.382-.118s-6.642-6.402-6.63-11.142 4.104-5.133 1.058-7.936-3.046-45.866 5.954-69.803c0 0 5.091-13.374-.011-17.957s-.007-9.826-.007-9.826 8.082-2.922-.007-11.34-.044-67.948-.044-67.948-8.842-24.031.113-33.48 72.956 4.55 72.956 4.55Z"
            fill="#2f2e41" />
          <path
            d="m306.503 489.486 12.489-30.182 9.84 5.467-5.943 30.703a10.935 10.935 0 1 1-16.386-5.988ZM516.077 250.816l-19.004 26.567-8.345-7.554 12.745-28.558a10.935 10.935 0 1 1 14.604 9.545Z"
            fill="#ffb6b6" />
          <path
            d="M433.063 450.597c12.326 19.119-49.631 43.38-73.405 33.64-4.162-1.705-18.482-7.339-8.694-15.15s-1.135-8.909-1.393-13.993c-.173-3.4 2.46-10.856-.287-10.536s-5.96-4.381.02-6.404.065-3.868.117-5.788c.572-20.956 16.65-54.287 16.65-54.287l-28.97 74.057s.213 12.812-3.481 8.897-3.426 8.756-3.426 8.756-5.494 3.834-2.335 5.968-3.4 8.694-3.4 8.694l-15.307-1.094s.24-11.37 2.853-13.885 1.33-6.471 1.33-6.471 6.804-6.024 2.242-10.915c-5.867-6.29 15.525-112.53 22.907-111.477a28.12 28.12 0 0 1 20.08-21.452l16.532-4.552 2.936-11.647h23.278l4.055 7.653 17.698 7.986c3.334-4.703 5.825-9.66 19.475-11.266 0 0 36.783-33.467 34.987-36.08s3.906-8.731 3.906-8.731 4.87-1.594 2.122-2.445 2.446-2.818 2.446-2.818 4.81-1.264 2.541-2.928 7.572-2.758 7.572-2.758l12.767 10.417-2.58 4.375s1.573 5.958-.48 3.783-2.44 4.137-2.44 4.137-1.05 6.912-7.267 8.995-10.934 21.866-10.934 21.866c-14.664 19.067-31.97 33.942-52.48 43.733 7.993 9.175.365 101.72.365 101.72Z"
            fill="#e06996" />
          <circle cx="387.937" cy="273.086" r="23.056" fill="#ffb6b6" />
          <path
            d="M364.063 275.597c.73 5.01 5 12 4 12s-8.11-20.653-1-22c5.157-.976 6.31-.12 11.13-2.21l-.68.64c3.19 2.32 7.63.89 11.27-.62 3.65-1.5 8.08-2.93 11.28-.62 2.01 1.45 2.86 3.97 4.11 6.11 1.25 2.15 3.56 4.18 5.94 3.52 1.91-.53 3.01-2.67 3-4.65s-2.588-3.863-1.72-5.64c2.573-5.264.26-8.852-5.35-11.33q-3.06-.465-6.12-.95a17.358 17.358 0 0 1 3.84-3.86 8.774 8.774 0 0 0-3.1-3.97c-1.63-.97-3.65-.9-5.54-.8l-12.65.66c-3.12.16-6.35.35-9.14 1.78-3.48 1.79-5.76 5.28-7.42 8.83-3.72 7.98-3.13 14.4-1.85 23.11Z"
            fill="#2f2e41" />
          <ellipse cx="471.988" cy="695.094" rx="5.257" ry="7.557" transform="rotate(-81.722 267.687 814.78)"
            fill="#e6e6e6" />
          <ellipse cx="521.16" cy="690.296" rx="5.257" ry="7.557" transform="rotate(-81.722 316.859 809.981)"
            fill="#3f3d56" />
          <ellipse cx="458.524" cy="655.286" rx="5.257" ry="7.557" transform="rotate(-81.722 254.223 774.971)"
            fill="#ff6584" />
          <ellipse cx="441.313" cy="640.043" rx="4.776" ry="3.322" transform="rotate(-89.567 244.413 737.958)"
            fill="#e6e6e6" />
          <ellipse cx="434.067" cy="609.671" rx="4.776" ry="3.322" transform="rotate(-89.567 237.167 707.587)"
            fill="#3f3d56" />
          <ellipse cx="490.412" cy="663.123" rx="4.776" ry="3.322" transform="rotate(-89.567 293.513 761.039)"
            fill="#e6e6e6" />
          <ellipse cx="466.651" cy="674.987" rx="4.776" ry="3.322" transform="rotate(-89.567 269.75 772.903)"
            fill="#ff6584" />
          <ellipse cx="499.728" cy="696.915" rx="4.776" ry="3.322" transform="rotate(-89.567 302.828 794.83)"
            fill="#3f3d56" />
          <ellipse cx="849.988" cy="541.094" rx="5.257" ry="7.557" transform="rotate(-81.722 645.687 660.78)"
            fill="#e6e6e6" />
          <ellipse cx="899.16" cy="536.296" rx="5.257" ry="7.557" transform="rotate(-81.722 694.859 655.981)"
            fill="#3f3d56" />
          <ellipse cx="836.524" cy="501.286" rx="5.257" ry="7.557" transform="rotate(-81.722 632.222 620.972)"
            fill="#ff6584" />
          <ellipse cx="819.313" cy="486.043" rx="4.776" ry="3.322" transform="rotate(-89.567 622.413 583.958)"
            fill="#e6e6e6" />
          <ellipse cx="812.067" cy="455.671" rx="4.776" ry="3.322" transform="rotate(-89.567 615.167 553.587)"
            fill="#3f3d56" />
          <ellipse cx="868.412" cy="509.123" rx="4.776" ry="3.322" transform="rotate(-89.567 671.513 607.039)"
            fill="#e6e6e6" />
          <ellipse cx="844.651" cy="520.987" rx="4.776" ry="3.322" transform="rotate(-89.567 647.75 618.903)"
            fill="#ff6584" />
          <ellipse cx="877.728" cy="542.915" rx="4.776" ry="3.322" transform="rotate(-89.567 680.828 640.83)"
            fill="#3f3d56" />
          <ellipse cx="666.988" cy="256.094" rx="5.257" ry="7.557" transform="rotate(-81.722 462.687 375.78)"
            fill="#fff" />
          <ellipse cx="716.16" cy="251.296" rx="5.257" ry="7.557" transform="rotate(-81.722 511.859 370.981)"
            fill="#3f3d56" />
          <ellipse cx="653.524" cy="216.286" rx="5.257" ry="7.557" transform="rotate(-81.722 449.223 335.971)"
            fill="#ff6584" />
          <ellipse cx="636.313" cy="201.043" rx="4.776" ry="3.322" transform="rotate(-89.567 439.413 298.958)"
            fill="#e6e6e6" />
          <ellipse cx="629.067" cy="170.671" rx="4.776" ry="3.322" transform="rotate(-89.567 432.167 268.587)"
            fill="#3f3d56" />
          <ellipse cx="685.412" cy="224.123" rx="4.776" ry="3.322" transform="rotate(-89.567 488.513 322.039)"
            fill="#e6e6e6" />
          <ellipse cx="661.651" cy="235.987" rx="4.776" ry="3.322" transform="rotate(-89.567 464.75 333.903)"
            fill="#ff6584" />
          <ellipse cx="694.728" cy="257.915" rx="4.776" ry="3.322" transform="rotate(-89.567 497.828 355.83)"
            fill="#3f3d56" />
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg" data-name="Layer 1" viewBox="0 0 602.107 696.919">
          <path
            d="M602.107 266q0 2.97-.07 5.93c-.02 1.29-.06 2.58-.11 3.87-.01.37-.02.73-.04 1.1l-.09 2.1q-.33 6.915-1.02 13.73l-.06.65c-.05.45-.09.9-.15 1.35-.14 1.35-.29 2.7-.46 4.03-.11.9-.22 1.79-.34 2.69-.06.43-.12.86-.17 1.28-.07.47-.13.93-.2 1.39l-.09.61c-.1.68-.2 1.37-.31 2.05-.13.89-.27 1.77-.42 2.66q-.21 1.32-.45 2.64c-.15.88-.31 1.76-.47 2.64-.16.89-.33 1.77-.5 2.65q-1.29 6.54-2.88 12.97-.63 2.505-1.29 5-1.095 4.05-2.31 8.06c-.23.74-.46 1.48-.69 2.21-.26.84-.53 1.68-.8 2.51-.27.84-.54 1.67-.82 2.5-.28.83-.56 1.66-.85 2.49-.28.82-.57 1.65-.87 2.47-.29.83-.59 1.65-.89 2.47-.31.82-.61 1.64-.92 2.45q-.93 2.46-1.91 4.87c-.32.81-.65 1.62-.99 2.42q-1.995 4.83-4.18 9.55c-.32.7-.64 1.4-.97 2.09-.22.46-.43.91-.65 1.37-.37.76-.73 1.51-1.1 2.26-.37.76-.75 1.53-1.14 2.3q-1.155 2.28-2.35 4.55c-.79 1.51-1.6 3.02-2.43 4.51s-1.67 2.98-2.52 4.45c-.43.74-.86 1.48-1.29 2.21q-2.595 4.395-5.36 8.69-2.745 4.275-5.67 8.45c-.97 1.39-1.96 2.78-2.96 4.15-.4.55-.8 1.09-1.2 1.63-.49.68-1 1.35-1.51 2.02a265.809 265.809 0 0 1-382.97 44.18q-4.38-3.66-8.6-7.5a267.376 267.376 0 0 1-46.71-55.98 271.64 271.64 0 0 1-4.71-7.85A264.766 264.766 0 0 1 70.107 266c0-146.91 119.09-266 266-266a265.777 265.777 0 0 1 222.68 120.44c.44.67.88 1.35 1.32 2.03a264.422 264.422 0 0 1 41.33 124.62q.675 9.36.67 18.91Z"
            fill="#f2f2f2" />
          <path d="M560.107 122.47h-368.45a1.015 1.015 0 0 1 0-2.03h367.13c.44.67.88 1.35 1.32 2.03Z" fill="#cacaca" />
          <ellipse cx="214.01" cy="97.09" rx="10.925" ry="11.169" fill="#3f3d56" />
          <ellipse cx="251.753" cy="97.09" rx="10.925" ry="11.169" fill="#3f3d56" />
          <ellipse cx="289.495" cy="97.09" rx="10.925" ry="11.169" fill="#3f3d56" />
          <path
            d="M601.437 247.09c-9.61 4.37-18.22 11.43-25.74 21.14-8.69 11.23-18 19.14-27.51 24.5-.45.25-.89.49-1.34.73a73.528 73.528 0 0 1-27.51 8.43 83.499 83.499 0 0 1-8.76.42c-1.22-.01-2.44-.04-3.65-.1-2.87-.14-5.71-.42-8.5-.82-16.02-2.28-30.51-8.44-41.24-14.23a150.088 150.088 0 0 0-47.21-16.52q-4.44-.735-8.86-1.15c-1.22-.12-2.43-.21-3.64-.29q-4.455-.3-8.9-.28c-1.52.01-3.03.04-4.55.1-25.54 1-58.85 8.28-88.72 33.71-.4.34-.79.68-1.19 1.02-.37.32-.74.65-1.11.98a149.143 149.143 0 0 0-13.34 13.47 169.09 169.09 0 0 0-13.2 17.25 110.056 110.056 0 0 1-16.64 19.3 92.677 92.677 0 0 0-29.82 67.12v.5c-.01.54-.01 1.09-.01 1.63h330.13c.4-.54.8-1.08 1.19-1.63 1-1.37 1.99-2.76 2.96-4.15q2.925-4.17 5.67-8.45 2.775-4.29 5.36-8.69c.43-.73.86-1.47 1.29-2.21.85-1.47 1.69-2.96 2.52-4.45s1.64-3 2.43-4.51q1.2-2.265 2.35-4.55c.39-.77.77-1.54 1.14-2.3.37-.75.73-1.5 1.1-2.26.22-.46.43-.91.65-1.37.33-.69.65-1.39.97-2.09q2.19-4.725 4.18-9.55c.34-.8.67-1.61.99-2.42q.975-2.415 1.91-4.87c.31-.81.61-1.63.92-2.45.3-.82.6-1.64.89-2.47.3-.82.59-1.65.87-2.47.29-.83.57-1.66.85-2.49.28-.83.55-1.66.82-2.5.27-.83.54-1.67.8-2.51.23-.73.46-1.47.69-2.21q1.215-4.005 2.31-8.06.66-2.49 1.29-5 1.59-6.42 2.88-12.97c.17-.88.34-1.76.5-2.65.16-.88.32-1.76.47-2.64q.24-1.32.45-2.64c.15-.89.29-1.77.42-2.66.11-.68.21-1.37.31-2.05l.09-.61c.07-.47.13-.93.19-1.39l.18-1.28c.12-.9.23-1.79.34-2.69.17-1.33.32-2.68.46-4.03h.01c.04-.45.09-.9.14-1.35l.06-.65q.69-6.81 1.02-13.73l.09-2.1c.02-.37.03-.73.04-1.1.05-1.29.09-2.58.11-3.87q.075-2.955.07-5.93 0-9.54-.67-18.91Z"
            fill="#e06996" />
          <path fill="#3f3d56"
            d="M288.244 314.155h3.648v106.939h-3.648zM397.473 264.211h3.648v156.883h-3.648zM506.927 297.047h3.648v124.047h-3.648z" />
          <circle cx="399.522" cy="266.726" r="11.161" fill="#3f3d56" />
          <circle cx="508.976" cy="297.737" r="11.161" fill="#3f3d56" />
          <circle cx="288.069" cy="305.155" r="11.161" fill="#3f3d56" />
          <path d="M551.317 422.37c-.4.55-.8 1.09-1.2 1.63-.49.68-1 1.35-1.51 2.02h-328.97v-3.65Z" fill="#3f3d56" />
          <path fill="#ffb8b8" d="M127.115 685.125h10.571l5.029-40.776-15.602.001.002 40.775z" />
          <path
            d="M154.617 685.56a13.14 13.14 0 0 0-4.3-2.89 13.412 13.412 0 0 0-5.08-1l-6.23-4.72-.33.13-11.28 4.59h-2.98v13.7h34.09v-.43a13.16 13.16 0 0 0-3.89-9.38Z"
            fill="#2f2e41" />
          <path fill="#ffb8b8" d="M176.228 685.125h10.571l5.029-40.776-15.602.001.002 40.775z" />
          <path
            d="M203.737 685.56a13.077 13.077 0 0 0-4.31-2.89 13.336 13.336 0 0 0-5.08-1l-6.22-4.72-.34.14-11.28 4.58h-2.98l.01 13.7h34.08v-.43a13.192 13.192 0 0 0-3.88-9.38ZM184.678 461.981l-83.059 2.167 1.445 40.446s-1.445 10.834 1.444 13.723 4.334 2.889 2.89 7.945 6.187 13.313 5.26 14.24-3.094 5.983-3.094 5.983l7.223 41.168s5.055 71.502 6.5 72.947 2.889 0 1.444 3.611-2.889 2.167-1.444 3.611a53.192 53.192 0 0 1 3.611 4.334h17.462s1.317-7.223 1.317-7.945 1.444-5.056 1.444-5.778-1.277-1.999-1.277-1.999a23.761 23.761 0 0 1-.89-4.501c0-1.445-4.333-57.058-4.333-57.058l8.667-72.225 20.945 70.78s0 62.114 1.445 63.559 1.444.722.722 3.61-3.611 2.168-1.445 4.334 2.89-1.444 2.167 2.167l-.722 3.611 21.667.31s2.89-6.088 1.445-8.254-1.358-1.576.404-5.122 2.485-4.268 1.762-4.99-.722-4.564-.722-4.564l-3.611-69.105s-.722-72.947-.722-75.114a7.204 7.204 0 0 1 .6-3.25v-2.94l-2.767-10.422Z"
            fill="#2f2e41" />
          <path
            d="M278.675 304.457a8.065 8.065 0 0 1-11.61 4.262l-36.054 30.205-1.96-14.765 35.265-26.995a8.109 8.109 0 0 1 14.359 7.293Z"
            fill="#ffb8b8" />
          <circle cx="119.696" cy="294.534" r="22.39" fill="#ffb8b8" />
          <path
            d="M137.848 272.25c-2.085-4.967-11.018-7.917-25.153-7.473s-16.611 17.301-16.611 17.301c-7.786 7.257 4.784 29.914 6.965 26.79 2.18-3.123 5.842-.17 5.842-.17l-3.49-19.627c3.686 1.417 7.649 2.37 11.115.718l-5.743-3.071 14.278 1.777-5.888-4.53c.143-.047.285-.096.428-.144a20.924 20.924 0 0 0 7.46 1.693c3.002-.022 6.192-1.429 7.45-4.155a6.139 6.139 0 0 0 .533-2.376c4.14 1.344 6.313 6.193 6.313 6.193a76.403 76.403 0 0 0-3.5-12.925Z"
            fill="#2f2e41" />
          <path
            d="M137.618 317.925c-5 0-8.22.69-16 2-14.36 2.42-5.76 16.064-5.76 16.064s.65-.33-1.11 0-7.76 5.52-7.76 5.52l-10.73 9.53c-16.17 12.69-12.55 32.49-12.55 32.49l23.58 23.73-10.33 47.61s4.39 7.07 2.12 10.24 20 2.26 20 2.26c15.37 6.85 69.52 1.06 69.52 1.06-.75-1.96-8-17.15-8-17.15 3.15-5.44.15-13.3.15-13.3s-3.13-37.18-5.13-42.32 5.12-32.99 9.8-32.69 34.91-15.12 34.91-15.12-.76-1.21 9.22-5.29a48.911 48.911 0 0 0 15.49-9.77l4.1-8.19c-1.97.76-8.62-11.78-8.62-11.78l-2.9 1.106-1.68-.486s-13.11 3.73-15.79 6.45-3.58 1.96-6 2.57-2.72 2.31-3.48 2.12-2.11 2.11-3.17 1.81-3.33.91-4.84 1.21-12.24 4.84-12.24 4.84c-6.64-3.36-24.64-2-24.64-2s-5.89-3.47-7.56 0a5.69 5.69 0 0 1-5.13 3.33l-7.18-3.07c-.417 1.523-8.249-14.353-8.29-12.774Z"
            fill="#3f3d56" />
          <path
            d="m57.331 640.99-.998-22.434A72.455 72.455 0 0 0 22.538 610c16.231 13.27 14.203 38.851 25.207 56.697a43.582 43.582 0 0 0 31.96 20.14l13.583 8.316a73.03 73.03 0 0 0-15.393-59.179A70.543 70.543 0 0 0 64.93 623.93c-3.253 8.578-7.599 17.061-7.599 17.061Z"
            fill="#f2f2f2" />
          <path fill="#3f3d56"
            d="M289.494 302.729h6v2h-6zM307.607 302.73v2h12.12v-2Zm24.24 0v2h12.11v-2Zm24.23 0v2h12.12v-2Zm24.23 0v2h12.12v-2Zm24.24 0v2h12.11v-2Zm24.23 0v2h12.12v-2Zm24.23 0v2h12.12v-2Zm24.24 0v2h12.11v-2Zm24.23 0v2h12.12v-2Zm24.23 0v2h12.12v-2Zm24.23 0v2h12.12v-2Zm24.24 0v2h12.11v-2Zm24.23 0v2h.9l.09-.61c.07-.46.13-.92.2-1.39ZM393.494 262.729h6v2h-6zM411.607 262.73v2h12.12v-2Zm24.24 0v2h12.11v-2Zm24.23 0v2h12.12v-2Zm24.23 0v2h12.12v-2Zm24.24 0v2h12.11v-2Zm24.23 0v2h12.12v-2Zm24.23 0v2h12.12v-2Zm24.24 0v2h12.11v-2ZM504.494 292.729h6v2h-6zM522.607 292.73v2h12.12v-2Zm24.24 0v2h12.11v-2Zm24.23 0v2h12.12v-2Zm24.23 0v2h5.27c.04-.45.09-.9.14-1.35l.06-.65Z" />
          <path
            d="M153.107 501.309v-64.41a4.923 4.923 0 0 1 4.917-4.917h48.643a4.923 4.923 0 0 1 4.917 4.917v64.41a4.923 4.923 0 0 1-4.917 4.917h-48.643a4.923 4.923 0 0 1-4.917-4.917Z"
            fill="#e6e6e6" />
          <path
            d="M156.838 481.855v-41.409a4.61 4.61 0 0 1 4.605-4.605h41.805a4.61 4.61 0 0 1 4.605 4.605v57.316a4.61 4.61 0 0 1-4.605 4.605H177.35a20.536 20.536 0 0 1-20.513-20.512Z"
            fill="#fff" />
          <path
            d="M163.607 452a4.505 4.505 0 0 1 4.5-4.5h29a4.5 4.5 0 1 1 0 9h-29a4.505 4.505 0 0 1-4.5-4.5ZM163.607 466a4.505 4.505 0 0 1 4.5-4.5h29a4.5 4.5 0 1 1 0 9h-29a4.505 4.505 0 0 1-4.5-4.5ZM163.607 480a4.505 4.505 0 0 1 4.5-4.5h29a4.5 4.5 0 1 1 0 9h-29a4.505 4.505 0 0 1-4.5-4.5Z"
            fill="#e6e6e6" />
          <path
            d="M154.256 478.809a7.483 7.483 0 0 1-7.529-8.66l-41.53-22.739 12.155-6.574 38.486 23.115a7.524 7.524 0 0 1-1.582 14.858Z"
            fill="#ffb8b8" />
          <path
            d="m130.107 462-14.727-2.616-5.273-4.384-3.547-1.806-12.223-8.58-.036-.108-19.421-57.41a18.804 18.804 0 0 1 13.914-21.736 18.784 18.784 0 0 1 23.169 15.86l6.25 49.203 10.36 10.7 4.534.877 1.043 4.881 3.957 6.119Z"
            fill="#3f3d56" />
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio height="230" width="1200" viewBox="0 0 930.724 613.071">
          <g data-name="Group 19" transform="translate(-125.881 -143.464)">
            <circle data-name="Ellipse 44" cx="108.283" cy="108.283" transform="translate(192.114 538.103)"
              fill="#e6e6e6" r="108.283" />
            <circle data-name="Ellipse 45" cx="108.283" cy="108.283" transform="translate(383.434 151.324)"
              fill="#e06996" r="108.283" />
            <path data-name="Path 280" d="M561.2 754.843 174.422 368.065h387.376v1.691H178.506l383.89 383.89Z"
              fill="#3f3d56" />
            <path data-name="Rectangle 20" fill="#3f3d56" d="M125.881 754.844h436.515v1.692H125.881z" />
            <g data-name="Group 18" transform="translate(596.399 143.464)">
              <path data-name="Path 314"
                d="M284.397 272.277a16.859 16.859 0 0 0-14.045-21.7l-80.559-94.135-18.789 19.728 80.243 90.256a16.95 16.95 0 0 0 33.152 5.851Z"
                fill="#a0616a" />
              <path data-name="Path 315"
                d="M216.001 171.14a7.054 7.054 0 0 0-2.009-5.526l-24.888-25.236a19.612 19.612 0 1 0-31.736 23.052l16.551 31.473a7.062 7.062 0 0 0 10.417 2.415l28.8-21.046a7.054 7.054 0 0 0 2.865-5.132Z"
                fill="#e06996" />
              <circle data-name="Ellipse 53" cx="38.544" cy="38.544" transform="translate(119.018 36.293)"
                fill="#a0616a" r="38.544" />
              <path data-name="Path 316"
                d="M178.52 247.319a6.981 6.981 0 0 0 2.771-4.809 616.739 616.739 0 0 1 11.62-66.241 41.576 41.576 0 0 0-77.205-28.853c-15.158 28.449-16.316 67.507-16.111 82.979a7.049 7.049 0 0 0 5.89 6.854l67.63 11.384a7.138 7.138 0 0 0 1.193.1 7 7 0 0 0 4.215-1.413Z"
                fill="#2f2e41" />
              <path data-name="Path 317"
                d="M32.512 121.818a16.522 16.522 0 0 1 .375 2.574l67.414 38.891 16.386-9.433 17.468 22.869-27.385 19.518a12.555 12.555 0 0 1-15.063-.367l-69.514-54.841a16.473 16.473 0 1 1 10.319-19.211Z"
                fill="#a0616a" />
              <path data-name="Path 318"
                d="m102.555 165.125 21.788 28.236a7.062 7.062 0 0 0 10.677.585l24.666-25.613a19.612 19.612 0 1 0-24.052-30.985l-30.936 17.3a7.062 7.062 0 0 0-2.143 10.477Z"
                fill="#e06996" />
              <path data-name="Path 319" d="M68.588 594.421h-19.24l-4.529-73.97 23.772-.239Z" fill="#a0616a" />
              <path data-name="Path 320" d="M73.495 588.139H35.606a24.146 24.146 0 0 0-24.146 24.147v.784h62.036Z"
                fill="#2f2e41" />
              <path data-name="Path 321" d="M252.199 594.421h-19.24l-9.152-74.21h28.4Z" fill="#a0616a" />
              <path data-name="Path 322" d="M257.106 588.139h-37.889a24.146 24.146 0 0 0-24.146 24.147v.784h62.036Z"
                fill="#2f2e41" />
              <path data-name="Path 323"
                d="m231.23 555.88 23.876-3.113a7.061 7.061 0 0 0 5.906-8.834L226.184 372.78a397.865 397.865 0 0 1-7.172-50.358c-1.017-13.768-5.047-33.238-18.474-47.8a201.88 201.88 0 0 1-15.262-18.855l-10.543-14.6-70.227-11.168-.048.869a406.986 406.986 0 0 1-42.583 160.35 181.1 181.1 0 0 0-18.994 72.144l-3.98 77.606a7.072 7.072 0 0 0 2.045 5.339 6.981 6.981 0 0 0 5.329 2.075l22.826-1.038a7.074 7.074 0 0 0 6.57-5.509l19.058-85.025a5.55 5.55 0 0 1 .965-2.1l59.808-79.743a3.924 3.924 0 0 1 6.842 1.058l61.313 175.178a7.1 7.1 0 0 0 6.674 4.729 6.927 6.927 0 0 0 .9-.058Z"
                fill="#2f2e41" />
              <path data-name="Path 324"
                d="M200.182 48.085a170.952 170.952 0 0 1-6.755-28.476c-.451-5.628.991-11.685 5.09-15.568 7.671-7.268 20.7-3.806 28.726 3.072 11.594 9.94 17.376 25.217 19.561 40.332s1.224 30.485 1.75 45.747 2.709 30.956 10.49 44.1 22.221 23.228 37.451 22.109a26.357 26.357 0 0 0 16.5-6.992 19.131 19.131 0 0 0 5.746-16.613c7.785 13.939 3.838 32.832-7.773 43.79s-29.472 14.056-44.737 9.377-27.828-16.41-35.333-30.5-10.254-30.371-9.856-46.332c.306-12.257 2.39-24.614.318-36.7s-9.634-24.354-21.56-27.2Z"
                fill="#2f2e41" />
              <path data-name="Path 325"
                d="M146.63 63.973c-2.033 6.792-9.811 10.981-16.807 9.832s-12.749-6.91-14.875-13.674a28.151 28.151 0 0 1 2.2-20.637 32.137 32.137 0 0 1 18.382-16.38 26.387 26.387 0 0 1 23.993 3.834 8.824 8.824 0 0 1 6.166-6.449 16.861 16.861 0 0 1 9.254.137 38.128 38.128 0 0 1 21.221 15.438 62.042 62.042 0 0 1 9.618 24.792c2.368 13.29 1.494 27.812-5.97 39.06s-22.732 17.89-35.12 12.528c-.773-3.949 1.057-7.926 3.175-11.347s4.626-6.755 5.44-10.7-.746-8.761-4.558-10.05c-3.252-1.1-6.719.682-10.145.9a11.117 11.117 0 0 1-10.664-16.019Z"
                fill="#2f2e41" />
            </g>
            <path data-name="Rectangle 23" fill="#ccc" d="M919.177 754.891h137.428v1.644H919.177z" />
            <path data-name="Path 292"
              d="M999.248 701.932c-14.478 23.637-9.5 53.038-9.5 53.038s28.455-8.921 42.933-32.558 9.5-53.038 9.5-53.038-28.455 8.922-42.933 32.558Z"
              fill="#ccc" />
            <path data-name="Path 293"
              d="m990.329 755.914-.8-.249c-.288-.09-28.882-9.275-43.336-32.871s-9.644-53.243-9.594-53.54l.139-.822.8.249c.288.09 28.882 9.275 43.336 32.872 14.453 23.6 9.644 53.242 9.594 53.539Zm-52.413-85.568c-.658 4.976-3.282 30.784 9.522 51.688s36.987 30.291 41.718 31.966c.658-4.976 3.282-30.784-9.522-51.687-12.8-20.9-36.987-30.292-41.718-31.967Z"
              fill="#ccc" />
            <circle data-name="Ellipse 48" cx="15.997" cy="15.997" transform="translate(974.658 646.385)" fill="#ccc"
              r="15.997" />
          </g>
        </svg>
      </div>
    </div>
    <div class="main-wrapper">
      <%- content %>
    </div>
    <%- include('footer'); %>
</body>

</html>