<!DOCTYPE html>
<html lang="<%= lang %>">

<head>
  <%- include('head'); %>
    <style>
      h2, h3 {
        margin-top: 42px;
      }
    </style>
</head>

<body>
  <%- include('header'); %>
  <div class="orange banner-quote bg bg5">
    <div class="main-wrapper">"There's a lot of stuff that happens around music that is exciting. It's going to bring joy to the community, pride to the community. It's part of the community"<span>—  Frank Gehry</span>
    </div>
  </div>
  <div class="main-wrapper">
    <h2>The Gehry Concert Hall will be at the Heart of the Community</h2>
    <h5>Mike Fuller, former CEO <a href="https://philharmonia.co.uk/" target="_blank">Philharmonia</a>, and Double Bass player</h5>
  </div>
  <video src="/video/fuller.mp4" controls poster="/video/fuller-poster.jpg"></video>
  <div class="wrap-collabsible">
    <input id="collapsible" class="toggle" type="checkbox">
    <label for="collapsible" class="lbl-toggle" tabindex="0">Video transcript</label>
    <div class="collapsible-content">
      <div class="content-inner">
        <p>Mike Fuller: I think one of the questions for any concert hall is how can it be really important to the community. How can it be not only a temple for great art but a truly welcoming place you can bring in the entire community, welcome them, open up to everyone the joy of music making, the joy of art making, the joy of coming together in a way around something so special as music, and I think that is being very open in your approach, it has to do with the space itself, how it welcomes people, it has to do with how the music fills the space, not only the main concert hall, but the foyer and the space around the concert hall, not only welcoming people in but hopefully also bringing music to them</p>
      </div>
    </div>
  </div>
  <div class="ochre banner-quote bg bg4">
    <div class="main-wrapper">The Trust will work closely in collaboration with Merton Music Foundation - an Arts Council Music Education hub - to bring striking opportunities to Merton school children
    </div>
  </div>
  <div class="main-wrapper">
    <h2>The impact in the community</h2>
    <h5>Interview with Elizabeth Wigley (Chief Executive / Safeguarding Lead) and Soo Bishop (Creative Director) at <a href="https://mmf.org.uk/" target="_blank">Merton Music Foundation</a></h5>
  </div>
  <video src="/video/education.mp4" controls poster="/video/education-poster.jpg"></video>
  <div class="wrap-collabsible">
    <input id="collapsible2" class="toggle" type="checkbox">
    <label for="collapsible2" class="lbl-toggle" tabindex="0">Video transcript</label>
    <div class="collapsible-content">
      <div class="content-inner">
        <p>Elizabeth Wigley: We reach about four and a half thousand children every week in some way, but whenever we want to do a concert with children or take them somewhere special, it's just so difficult and though it's wonderful to go to the Albert Hall every two years, which we do because we aspire to taking children to an inspiratinal venue, how much better it would be for us and our children if we could commit to them that they could have that wonderful first-class artistic experience where they live, in their community.</p>
        <p>Soo Bishop: It's a really big issue there is no where to take our young people. They deserve, they deserve something really special, where they can shine and feel that their efforts are being properly rewarded in a space that is worthy of them.</p>
        <p>Elizabeth Wigley: And our focus here because we work with all the children in the borough is we want to make inclusion the most important part of our work. Every child has the right to these experiences, every child should have the right to go to the theatre, go to a concert hall, take part in this.</p>
        <p>Soo Bishop: It's a real game changer, and having something like a concert hall, a flexible space where we can run workshops, and do lots of preparation, and we can run projects and then take children to the end of that experience and just perform in a world class space would be incredible.</p>
        <p>Elizabeth Wigley: Because it's going to enhance the lives of all our residents in Merton and also beyond. Because I work closely with the music services in the surrounding boroughs they too have limited places for performance, they would love to enjoy a venue in SW London. We can open up to thousands upon thousands of children. In fact, in the little group that I work with in SW London we have a quarter of London's children in it. The idea that a quarter of Londons children could come to somewhere in Wimbledon to the concert hall would be absolutely wonderful.</p>
      </div>
    </div>
  </div>
  <div class="orange banner-quote bg bg5">
    <div class="main-wrapper">"It really works. The kids get involved. It's not that they all grow up to become musicians, but it gives them confidence and it opens doors in their minds and gives them part of a bigger world. It's just incredible what it does."<span>—  Frank Gehry</span>
    </div>
  </div>
  <div class="flex-columns">
    <figure>
      <picture>
        <source media="(min-width: 769px)" type="image/webp" srcset="/community/images/fab-feb.webp" />
        <source media="(min-width: 769px)" type="image/jpeg" srcset="/community/images/fab-feb.jpg" />
        <source media="(min-width: 320px)" type="image/webp" srcset="/community/images/fab-feb-mobile.webp" />
        <source media="(min-width: 320px)" type="image/jpeg" srcset="/community/images/fab-feb-mobile.jpg" />
        <img class="image" src="/community/images/fab-feb.jpg" alt="Fab feb">
      </picture>
      <figcaption>Fab feb</figcaption>
    </figure>
    <figure>
      <picture>
        <source media="(min-width: 769px)" type="image/webp" srcset="/community/images/merton-young-voices.webp" />
        <source media="(min-width: 769px)" type="image/jpeg" srcset="/community/images/merton-young-voices.jpg" />
        <source media="(min-width: 320px)" type="image/webp" srcset="/community/images/merton-young-voices-mobile.webp" />
        <source media="(min-width: 320px)" type="image/jpeg" srcset="/community/images/merton-young-voices-mobile.jpg" />
        <img class="image" src="/community/images/merton-young-voices.jpg" alt="Merton young voices">
      </picture>
      <figcaption>Merton young voices</figcaption>
    </figure>
    <figure>
      <picture>
        <source media="(min-width: 769px)" type="image/webp" srcset="/community/images/mycb-wimbledon.webp" />
        <source media="(min-width: 769px)" type="image/jpeg" srcset="/community/images/mycb-wimbledon.jpg" />
        <source media="(min-width: 320px)" type="image/webp" srcset="/community/images/mycb-wimbledon-mobile.webp" />
        <source media="(min-width: 320px)" type="image/jpeg" srcset="/community/images/mycb-wimbledon-mobile.jpg" />
        <img class="image" src="/community/images/mycb-wimbledon.jpg" alt="MYCB Wimbledon">
      </picture>
      <figcaption>MYCB Wimbledon</figcaption>
    </figure>
  </div>
  <div class="flex-columns">
    <figure>
      <picture>
        <source media="(min-width: 769px)" type="image/webp" srcset="/community/images/sonoro-abbotsbury.webp" />
        <source media="(min-width: 769px)" type="image/jpeg" srcset="/community/images/sonoro-abbotsbury.jpg" />
        <source media="(min-width: 320px)" type="image/webp" srcset="/community/images/sonoro-abbotsbury-mobile.webp" />
        <source media="(min-width: 320px)" type="image/jpeg" srcset="/community/images/sonoro-abbotsbury-mobile.jpg" />
        <img class="image" src="/community/images/sonoro-abbotsbury.jpg" alt="Sonoro Abbotsbury">
      </picture>
      <figcaption>Sonoro Abbotsbury</figcaption>
    </figure>
    <figure>
      <picture>
        <source media="(min-width: 769px)" type="image/webp" srcset="/community/images/rah-balloons.webp" />
        <source media="(min-width: 769px)" type="image/jpeg" srcset="/community/images/rah-balloons.jpg" />
        <source media="(min-width: 320px)" type="image/webp"
          srcset="/community/images/rah-balloons-mobile.webp" />
        <source media="(min-width: 320px)" type="image/jpeg"
          srcset="/community/images/rah-balloons-mobile.jpg" />
        <img class="image" src="/community/images/rah-balloons.jpg" alt="Royal Albert Hall ballons">
      </picture>
      <figcaption>Royal Albert Hall ballons</figcaption>
    </figure>
    <figure>
      <picture>
        <source media="(min-width: 769px)" type="image/webp" srcset="/community/images/rah-merton-youth-concert-band.webp" />
        <source media="(min-width: 769px)" type="image/jpeg" srcset="/community/images/rah-merton-youth-concert-band.jpg" />
        <source media="(min-width: 320px)" type="image/webp" srcset="/community/images/rah-merton-youth-concert-band-mobile.webp" />
        <source media="(min-width: 320px)" type="image/jpeg" srcset="/community/images/rah-merton-youth-concert-band-mobile.jpg" />
        <img class="image" src="/community/images/rah-merton-youth-concert-band.jpg" alt="RAH Merton youth concert band">
      </picture>
      <figcaption>RAH Merton youth concert band</figcaption>
    </figure>
  </div>
  <div class="main-wrapper">
    <h2>Education and Outreach</h2>
    <p>Several major London orchestras and performing groups have confirmed their intention to have residencies with the Wimbledon Concert Hall. These have already established [prize-winning] educational and outreach programmes. The Trust plans to co-ordinate these resources to maximize cultural opportunities in the community.</p>
  </div>
  <video src="/video/esa-pekka.mp4#t=33,72" controls poster="/video/esa-pekka-poster.jpg"></video>
  <div class="wrap-collabsible">
    <input id="collapsible3" class="toggle" type="checkbox">
    <label for="collapsible3" class="lbl-toggle" tabindex="0">Video transcript</label>
    <div class="collapsible-content">
      <div class="content-inner">
        <p>Question: What would it mean to Wimbledon to bring a concert hall to the suburbs?</p>
        <p>Esa-Pekka Salonen: A concert hall, a good one, functions on many different levels in its environment. Partly it's about the music and the performing music and so on. But it also sends a message to the community. It sends a message outside the community, it often becomes a symbol and more than that, it becomes a hub for for all kinds of educational projects. Local groups, a great concert hall stimulates the artistic and intellectual life in the community and it strengthens the community itself.</p>
      </div>
    </div>
  </div>
  <div class="grey banner-quote bg bg3">
    <div class="main-wrapper">The "Bilbao effect"<br />Frank Gehry's building is credited with generating over <b>€4 billion</b> for the Bilbao economy in its first 20 years.<span>— Bilbao council statement</span>
    </div>
  </div>
  <div class="main-wrapper">
    <%- content %>
  </div>
  <%- include('footer'); %>
  <%- include('viewer'); %>
</body>
</html>