<!DOCTYPE html>
<html lang="<%= lang %>">

<head>
  <%- include('head'); %>
    <style>
      h2, h3 {
        margin-top: 42px;
      }
    </style>
</head>

<body>
  <%- include('header'); %>
  <div class="orange banner-quote bg bg5">
    <div class="main-wrapper">"There's a lot of stuff that happens around music that is exciting. It's going to bring joy to the community, pride to the community. It's part of the community"<span>—  Frank Gehry</span>
    </div>
  </div>
  <div class="main-wrapper">
    <h2>Community</h2>
    <p>The Gehry Concert Hall will be at the Heart of the Community.</p>
    <h3>Mike Fuller, former CEO Philharmonia, and Double Bass player</h3>
  </div>
  <video src="/video/fuller.mp4" controls poster="/video/fuller-poster.jpg"></video>
  <div class="wrap-collabsible">
    <input id="collapsible" class="toggle" type="checkbox">
    <label for="collapsible" class="lbl-toggle" tabindex="0">Video transcript</label>
    <div class="collapsible-content">
      <div class="content-inner">
        <p>Anthony Wilkinson: How can our building be really important to the community that never experienced before in music?</p>
        <p>Mike Fuller: I think one of the questions for any concert hall is how can it be really 
          important to the community.  How can it be not only a temple for great art but a 
          truly welcoming place you can bring in the entire community, welcome them, open 
          up to everyone the joy of music making, the joy of art making, the joy of coming 
          together in a way around something so special as music, and I think that is being 
          very open in your approach, it has to do with the space itself, how it welcomes 
          people, it has to do with how the music fills the space, not only the main concert 
          hall, but the foyer and the space around the concert hall, not only welcoming people 
          in but hopefully also bringing music to them</p>
      </div>
    </div>
  </div>
  <div class="ochre banner-quote bg bg4">
    <div class="main-wrapper">"The kids get involved. It's not that they all grow up, become musicians, but it gives them confidence and it opens doors in their minds and gives them part of a bigger world. It's just incredible what it does"<span>—  Frank Gehry</span>
    </div>
  </div>
  <div class="grey banner-quote bg bg3">
    <div class="main-wrapper">The Trust will work closely in collaboration with Merton Music Foundation - an Arts Council Music Education hub - to bring striking opportunities to Merton school children
    </div>
  </div>
  <div class="main-wrapper">
    <%- content %>
  </div>
  <%- include('footer'); %>
</body>

</html>