<!DOCTYPE html>
<html lang="<%= lang %>">

<head>
  <%- include('head'); %>
    <style>
      h2 {
        margin-top: 42px;
      }
    </style>
</head>

<body>
  <%- include('header'); %>
  <div class="ochre banner-quote bg bg3">
    <div class="main-wrapper">We swiftly need to commission Frank and his team to take his designs to RIBA Planning Consent, and thereby formally secure the site. Want to get involved? <a href="/contact">Please get in touch.</a>
    </div>
  </div>
  <div class="main-wrapper">
    <h2>A request from Dame Darcey Bussell, Patron, and David Whelton, former CEO Philharmonia orchestra</h2>
  </div>
  <video src="/video/donors.mp4" controls poster="/video/donors-poster.jpg"></video>
  <div class="wrap-collabsible">
    <input id="donors-collapsible" class="toggle" type="checkbox">
    <label for="donors-collapsible" class="lbl-toggle" tabindex="0">Video transcript</label>
    <div class="collapsible-content">
      <div class="content-inner">
        <p>David Whelton: I'm standing in front of the Albert Memorial, a memorial to one of the great nineteenth century visionaries. We are looking for a similar visionary today to help us realise our ambition for a new concert hall for Wimbledon.</p>
        <p>Darcey Bussell: And Wimbledon can offer the perfect site. There is a compelling vision of what is possible here. We have Frank Gehry and his extraordinary team. We have a location and a brand. We just need now a visionary Patron to make it happen.</p>
        <p>Frank Gehry: We've got to do this.</p>
      </div>
    </div>
  </div>
  <div class="main-wrapper">
    <h5>Conductor Esa-Pekka Salonen on how a new Frank Gehry-designed concert hall in Wimbledon would have an effect not just locally but internationally</h5>
  </div>
  <video src="/video/esa-pekka.mp4" controls poster="/home/images/collage.jpg"></video>
  <div class="wrap-collabsible">
    <input id="education-collapsible" class="toggle" type="checkbox">
    <label for="education-collapsible" class="lbl-toggle" tabindex="0">Video transcript</label>
    <div class="collapsible-content">
      <div class="content-inner">
        <p>Esa-Pekka Salonen: One of the most exciting and satisfying and rewarding thing I've ever done in my life as a conductor was the project of building the Walt Disney Concert Hall in Los Angeles. And Frank Gehry is the perfect architect for designing a new concert hall. He knows how to work with acousticians. He knows what orchestras need, he knows what music needs. So it will be fantastic to have a new concert hall designed by Frank Gehry in London.</p>
          <p>Question: What would it mean to Wimbledon to bring a concert hall to the suburbs?</p>
          <p>Esa-Pekka Salonen: A concert hall, a good one, functions on many different levels in its environment. Partly it's about the music and the performing music and so on. But it also sends a message to the community. It sends a message outside the community, it often becomes a symbol and more than that, it becomes a hub for for all kinds of educational projects. Local groups, a great concert hall stimulates the artistic and intellectual life in the community and it strengthens the community itself.</p>
          <p>Question: What does a Frank Gehry building bring economically?</p>
          <p>Esa-Pekka Salonen: What happened in downtown Los Angeles after the Walt Disney Concert Hall opened was quite dramatic. In within the first year of its existence, the number of services, such as restaurants and hotels, and so on, had more than doubled. And now 15 years later, the renaissance of downtown Los Angeles started with the construction of Walt Disney Concert Hall.</p>
          <p>Question: What are your thoughts on the Guggenheim in Bilbao?</p>
          <p>Esa-Pekka Salonen: I have a great memory of the Bilbao Hall. And I never forget this moment. We had a very grumpy taxi driver from the airport. Then there's a moment when the taxi driver turned towards us and said "El Museo" with such pride that I understood that it was much more than just a museum. It became a symbol of the new life of Bilbao. And when we walked around in downtown Bilbao with Frank Gehry people stopped him on the streets and thanked him for what he had done for the city. And, you know, they brought the little babies for Frank to bless. And, and he could not pay for any meal. He tried to but but every restaurant said, well, we can possibly charge you Mr. Thery, because you have helped us so much. And so these buildings, the influence goes way beyond the art form itself. And do you have a Frank Gehry design a concert hall in Wimbledon would be a total transformation of London concert life, it would have a global effect.</p>
      </div>
    </div>
  </div>
  <div class="main-wrapper">
    <h2>Philanthropic opportunity</h2>
    <p>The Trust would like to encourage the financing of this project through philanthropic gifts, and not to call on public funding.</p>
    <p><a href="https://www.globalphilanthropic.com" target="_blank">Global Philanthropic</a>, the Fundraising Team, would be happy to <a href="/contact">arrange a meeting to discuss this with you</a>.</p>
  </div>
  <div class="banner-quote green">
    <div class="main-wrapper">"The Wimbledon Concert Hall project offers a rare opportunity for a philanthropist to make possible, and to be actively involved in, the creation of a major centre of international cultural importance by one of the most celebrated architects.”<span>— Ben Morton Wright, Global Philanthropic</span></div>
  </div>
  <div class="red banner-quote bg bg4">
    <div class="main-wrapper">"There's a lot of opportunity to become part of it. I hope they will become involved with it, in the process of how we put this together. A trip to our office might be enlightening. I'll be showing them what we're doing, how we're doing it"<span>— Frank Gehry</span></a>
    </div>
  </div>
  <div class="main-wrapper">
    <%- content %>
  </div>
  <div class="ochre banner-quote bg bg3">
    <div class="main-wrapper">The immediate need is to commission Frank and his team to develop these initial plans to RIBA Planning Consent, which will also secure the site
    </div>
  </div>
  <div class="main-wrapper">
    <h2>I'm fastidious about budget control - Frank Gehry</h2>
    <div class="two-columns-slide">
      <div>
        <p>The budget for Bilbao was $100 million and we came in at $97 million. Disney Hall was $207 million and we came in at $207-8 million.</p>
        <p>Here's the game. Someone says:</p>
        <p>“Hey, guess what. We're going to build a new concert hall and we just hired Frank Gehry!”</p>
        <p>Everyone starts saying: "You can't do that, it'll break the bank."</p>
        <p>I hear it all the time. But it's not true. A plain box building costs X, and a building with some humanity in it costs X plus 15%. But that's everybody's premium, not just Frank Gehry's. It's not an ego-driven premium. It's a reality of making buildings with some sense of humanity.”</p>
      </div>
      <div>
        <figure>
          <picture>
            <source media="(min-width: 769px)" type="image/webp" srcset="/donors/images/bilbao.webp" />
            <source media="(min-width: 769px)" type="image/jpeg" srcset="/donors/images/bilbao.jpg" />
            <source media="(min-width: 320px)" type="image/webp" srcset="/donors/images/bilbao-mobile.webp" />
            <source media="(min-width: 320px)" type="image/jpeg" srcset="/donors/images/bilbao-mobile.jpg" />
            <img class="image" src="/donors/images/bilbao.jpg" alt="Guggenheim Museum, Bilbao – interior">
          </picture>
          <figcaption>Guggenheim Museum, Bilbao &#8212; interior</figcaption>
        </figure>
      </div>
    </div>
  </div>
  <div class="orange banner-quote bg bg3">
    <div class="main-wrapper">”I'm 93. Still working full days but we'd better hurry.<br />I'd like to hurry and get it going.”<span>— Frank Gehry</span>
    </div>
  </div>
  <%- include('footer'); %>
</body>

</html>