<!DOCTYPE html>
<html lang="<%= lang %>">

<head>
  <%- include('head'); %>
    <style>
      h2 {
        margin-top: 42px;
      }
    </style>
</head>

<body>
  <%- include('header'); %>
  <div class="ochre banner-quote bg bg3">
    <div class="main-wrapper">We swiftly need to commission Frank and his team to take his designs to RIBA Planning Consent, and thereby formally secure the site. Want to get involved? <a href="/contact">Please get in touch.</a>
    </div>
  </div>
  <div class="main-wrapper">
    <h2>Call to Action</h2>
  </div>
  <video src="/video/donors.mp4" controls poster="/video/donors-poster.jpg"></video>
  <div class="wrap-collabsible">
    <input id="donors-collapsible" class="toggle" type="checkbox">
    <label for="donors-collapsible" class="lbl-toggle" tabindex="0">Video transcript</label>
    <div class="collapsible-content">
      <div class="content-inner">
        <p>David Whelton: I'm standing in front of the Albert Memorial, a memorial to one of the great nineteenth century visionaries. We are looking for a similar visionary today to help us realise our ambition for a new concert hall for Wimbledon.</p>
        <p>Darcey Bussell: And Wimbledon can offer the perfect site. There is a compelling vision of what is possible here. We have Frank Gehry and his extraordinary team. We have a location and a brand. We just need now a visionary Patron to make it happen.</p>
        <p>Frank Gehry: We've got to do this.</p>
      </div>
    </div>
  </div>
  <div class="main-wrapper">
    <h2>Philanthropic opportunity</h2>
    <p>The Trust would like to encourage the financing of this project through philanthropic gifts, and not to call on public funding.</p>
    <p><a href="https://www.globalphilanthropic.com" target="_blank">Global Philanthropic</a>, the Fundraising Team, would be happy to <a href="/contact">arrange a meeting to discuss this with you</a>.</p>
  </div>
  <div class="banner-quote green">
    <div class="main-wrapper">"The Wimbledon Concert Hall project offers a rare opportunity for a philanthropist to make possible, and to be actively involved in, the creation of a major centre of international cultural importance by one of the most celebrated architects.”<span>— Ben Morton Wright</span></div>
  </div>
  <div class="red banner-quote bg bg4">
    <div class="main-wrapper">"There's a lot of opportunity to become part of it. I hope they will become involved with it, in the process of how we put this together. A trip to our office might be enlightening. I'll be showing them what we're doing, how we're doing it"<span>— Frank Gehry</span></a>
    </div>
  </div>
  <div class="main-wrapper">
    <%- content %>
  </div>
  <div class="ochre banner-quote bg bg3">
    <div class="main-wrapper">The immediate need is to commission Frank and his team to develop these initial plans to RIBA Planning Consent, which will also secure the site
    </div>
  </div>
  <div class="main-wrapper">
    <h2>I'm fastidious about budget control - Frank Gehry</h2>
    <div class="two-columns-slide">
      <div>
        <p>The budget for Bilbao was $100 million and we came in at $97 million. Disney Hall was $207 million and we came in at $207-8 million.</p>
        <p>Here's the game. Someone says:</p>
        <p>“Hey, guess what. We're going to build a new concert hall and we just hired Frank Gehry!”</p>
        <p>Everyone starts saying: "You can't do that, it'll break the bank."</p>
        <p>I hear it all the time. But it's not true. A plain box building costs X, and a building with some humanity in it costs X plus 15%. But that's everybody's premium, not just Frank Gehry's. It's not an ego-driven premium. It's a reality of making buildings with some sense of humanity.”</p>
      </div>
      <div>
        <figure>
          <picture>
            <source media="(min-width: 769px)" type="image/webp" srcset="/donors/images/bilbao.webp" />
            <source media="(min-width: 769px)" type="image/jpeg" srcset="/donors/images/bilbao.jpg" />
            <source media="(min-width: 320px)" type="image/webp" srcset="/donors/images/bilbao-mobile.webp" />
            <source media="(min-width: 320px)" type="image/jpeg" srcset="/donors/images/bilbao-mobile.jpg" />
            <img class="image" src="/donors/images/bilbao.jpg" alt="Guggenheim Museum, Bilbao – interior">
          </picture>
          <figcaption>Guggenheim Museum, Bilbao &#8212; interior</figcaption>
        </figure>
      </div>
    </div>
    <h2>Timeline</h2>
    <p>This is a 5-6 year project so project funding is on-going, and finance will be called on in smaller discrete packages during the different stages of development. The initial design and site costs of £9m will be required during 5 quarterly period until Autumn 2023. Other costs will be required as in the following table:</p>
    <p>
      <a href="/docs/wimbledon_concert_hall_cashflow_v1.pdf">Download Cashflow PDF</a>
    </p>
    <iframe src="/docs/wimbledon_concert_hall_cashflow_v1_page_1.pdf" width="100%" height="600" style="border: 1px solid #EEE; border-radius: 8px; margin-bottom: 42px"></iframe>
    <iframe src="/docs/wimbledon_concert_hall_cashflow_v1_page_2.pdf" width="100%" height="600" style="border: 1px solid #EEE; border-radius: 8px; margin-bottom: 42px"></iframe>
  </div>
  <div class="orange banner-quote bg bg3">
    <div class="main-wrapper">”I'm 93. Still working full days but we'd better hurry.<br />I'd like to hurry and get it going.”<span>— Frank Gehry</span>
    </div>
  </div>
  <%- include('footer'); %>
</body>

</html>