<!DOCTYPE html>
<html lang="<%= lang %>">

<head>
  <%- include('head'); %>
    <style>
      h2 {
        margin-top: 42px;
      }
      .trust {
        padding: 40px 0;
        text-align: left;
        margin-bottom: 40px;
      }
      .trust ul, .trust h4, .trust b, .trust a {
        color: white;
      }
    </style>
</head>

<body>
  <%- include('header'); %>
  <picture>
    <source media="(min-width: 769px)" type="image/webp" srcset="/team/images/hero.webp" />
    <source media="(min-width: 769px)" type="image/jpeg" srcset="/team/images/hero.jpg" />
    <source media="(min-width: 320px)" type="image/webp" srcset="/team/images/hero-mobile.webp" />
    <source media="(min-width: 320px)" type="image/jpeg" srcset="/team/images/hero-mobile.jpg" />
    <img class="image" width="100%" src="/team/images/hero.jpg" alt="Wimbledon Concert Hall model">
  </picture>
  <div class="purple banner-quote">
    <div class="main-wrapper">To deliver Frank Gehry vision the Trust  has assembled a premier division team of professional advisers and passionate music lovers, whose experience covers - Architecture, acoustics, music, design, engineering, finance, marketing, real estate, business planning, community, arts, fundraising and much more</div>
  </div>
  <div class="main-wrapper">
    <h2>Team</h2>
    <h4>The Wimbledon Concert Hall Team</h4>
    <ul>
      <li><b><a href="https://en.wikipedia.org/wiki/Frank_Gehry">Frank O. Gehry Partners</a></b>: Architect. The most celebrated, iconic, architect in the world.</li>
      <li><b><a href="https://en.wikipedia.org/wiki/Yasuhisa_Toyota">Yasuhisa Toyota</a></b>: Nagata Acoustics. Globally acclaimed acoustician, with over 50 major projects worldwide.</li>
      <li><b>Quartet</b>: A leading consultancy network that provides arts and heritage companies with a range of top-level expertise. Quartet draws upon the skills of a group of specialist practices.</li>
      <li><b><a href="https://stephenbrowning.com">Stephen Browning Associates</a></b>: Previous Director of Marketing Royal Shakespeare Company, Chairman London Theatre marketing etc.</li>
      <li><b><a href="https://www.linkedin.com/in/michaellaunchbury">Michael Launchbury</a></b>: Specialising in Business planning and governance - Former CEO Shakespeare Globe, Director Public Service, Museum of London.</li>
      <li><b><a href="https://www.linkedin.com/in/john-mortlock-8628a924">John Mortlock</a></b>: Finance specialist in cultural sector, particularly cultural venues. Previous Finance Director Royal Opera House, senior adviser to London Olympics.</li>
      <li><b><a href="https://www.theaudienceagency.org">The Audience Agency</a></b>: Audience and Market potential report. The national Audience development agency for  England, helping cultural organisations to plan and deliver audience and engagement strategies.</li>
      <li><b><a href="https://www.linkedin.com/in/colleyrob">Colley Associates Ltd</a></b>: Real Estate And Strategic Consultant. Previously Head of Public Sector Deloitte Real Estate, and Head of Strategic Consulting, Drivers Jonas.</li>
      <li><b><a href="https://www.ekosgen.co.uk">Ekosgen</a></b>: Economic Benefits & Regeneration UK's leading independent economic development consultants.</li>
      <li><b><a href="https://www.lexcomm.co.uk">Lexington Communications</a></b>: Community relations and support. UK's leading independent public affairs and communications agency, with more blue chip clients than any others.</li>
      <li><b><a href="https://www.brunswickgroup.com/what-we-do/sectors/arts">Brunswick Arts</a></b>: Strategy advisors, Dedicated to promoting and Managing the interests of arts, cultural And charitable organisations.</li>
      <li><b><a href="https://joanmira.com">Joan Mira Studio</a></b>: Web Engineering & Design. Former Digital Developer of the Royal Opera House.</li>
    </ul>
  </div>
  <div class="pink banner-quote trust">
    <div class="main-wrapper">
      <h4>The Wimbledon Concert Hall Trust</h4>
      <ul>
        <li><b><a href="https://www.linkedin.com/in/david-whelton-obe-315b91142">David Whelton</a></b>: Former CEO (1989-2016) Philharmonia Orchestra. One of the world's most experienced orchestra managers.</li>
        <li><b><a href="https://wimbledonmusicfestival.co.uk/founder-festival-director">Anthony Wilkinson</a></b>: Founder and Festival Director Wimbledon International Music Festival. Previously multi-award winning international film and theatre director. Former senior producer Music & Arts BBC TV.</li>
        <li><b><a href="http://www.marcus-beale.com">Marcus Beale</a></b>: Founder of Marcus Beale Architects, Wimbledon. Specialising in community and urban design, with special interest in acoustics. Advisor to local MP.</li>
        <li><b><a href="https://privatebank.jpmorgan.com/gl/en/people/david-ashworth">David Ashworth</a></b>: Head of Wealth Management and Market Manager, JP Morgan Luxembourg.</li>
      </ul>
      <p>
        <b>Charity Number: 1166011</b>
        <a href="mailto:anthony@wimbledonconcerthall.co.uk">anthony@wimbledonconcerthall.co.uk</a>
        <a href="tel:02089465078">Tel. 020 8946 5078</a>
      </p>
    </div>
  </div>
  <div class="main-wrapper">
    <h4>Fundraising Team</h4>
    <ul>
      <li><b><a href="https://www.globalphilanthropic.com">Global Philanthropic</a></b>: Fundraising strategy. Global Philanthropic has a successful track record working with leading international organisations to set up their fundraising programmes, including philanthropically named buildings, delivering the Lead Donation for a Frank Gehry building.</li>
      <li><b><a href="https://www.globalphilanthropic.com/our-people/ben-morton-wright">Ben Morton Wright</a></b>: Founder. Global Philanthropic. Major gift Strategist, and expert in structuring International campaigns. Trustee of Goldsmith University; Trustee of Dance East.</li>
      <li><b><a href="https://www.rawlinsonpartners.com/about">Iain Rawlinson</a></b>: Chair, Global Philanthropic Holdings. Founder of Rawlinson Partners, providing leadership, advocacy and innovation to business, social enterprise, and charities.</li>
      <li><b><a href="https://www.globalphilanthropic.com/our-people/nick-jaffer">Nick Jaffer</a></b>: President Asia Pacific.</li>
    </ul>
  </div>
  <div class="main-wrapper">
    <%- content %>
  </div>
  <%- include('footer'); %>
</body>

</html>