<!DOCTYPE html>
<html lang="<%= lang %>">

<head>
  <%- include('head'); %>
    <style>
      h2 {
        margin-top: 42px;
      }
    </style>
</head>

<body>
  <%- include('header'); %>
  <picture>
    <source media="(min-width: 769px)" type="image/webp" srcset="/team/images/hero.webp" />
    <source media="(min-width: 769px)" type="image/jpeg" srcset="/team/images/hero.jpg" />
    <source media="(min-width: 320px)" type="image/webp" srcset="/team/images/hero-mobile.webp" />
    <source media="(min-width: 320px)" type="image/jpeg" srcset="/team/images/hero-mobile.jpg" />
    <img class="image" width="100%" src="/team/images/hero.jpg" alt="Wimbledon Concert Hall model">
  </picture>
  <div class="purple banner-quote">
    <div class="main-wrapper">To deliver Frank Gehry vision the Trust  has assembled a premier division team of professional advisers and passionate music lovers, whose experience covers - Architecture, acoustics, music, design, engineering, finance, marketing, real estate, business planning, community, arts, fundraising and much more</div>
  </div>
  <div class="main-wrapper">
    <%- content %>
  </div>
  <%- include('footer'); %>
</body>

</html>