<!DOCTYPE html>
<html lang="<%= lang %>">

<head>
  <%- include('head'); %>
    <style>
      h2 {
        margin-top: 42px;
      }
    </style>
</head>

<body>
  <%- include('header'); %>
  <div class="green banner-quote bg bg1">
    <div class="main-wrapper">Wimbledon is one of the most desirable suburbs of London, a world brand known for its Tennis Championship.  It is celebrated for its green spaces and Common, reflected in Gehry's design with its several roof gardens.
    </div>
  </div>
  <div class="main-wrapper">
    <h2>The perfect site</h2>
    <div class="two-columns-slide">
      <ul>
        <li>Currently an open-air car park owned by Merton Council, offering the concert hall an exclusive development period</li>
        <li>200 yards from Wimbledon Station (less than the length of a 10-carriage train)</li>
        <li>4 million live within half an hour</li>
      </ul>
      <ul>
        <li>A Major transport hub:<ul>
          <li>South West trains (15 mins. from Waterloo Station)</li>
          <li>District Line</li>
          <li>Crossrail & Crosslink</li>
          <li>Croydon Tram</li>
          <li>Nine bus routes</li>
          <li>A3 road corridor</li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <video src="/video/wimbledon.mp4" controls poster="/video/wimbledon-poster.jpg"></video>
  <div class="wrap-collabsible">
    <input id="collapsible" class="toggle" type="checkbox">
    <label for="collapsible" class="lbl-toggle" tabindex="0">Video transcript</label>
    <div class="collapsible-content">
      <div class="content-inner">
        <p>Narrator: Home to the world's greatest tennis tournament, the Wimbledon brand is recognised across the globe. Just 15 minutes by train from Waterloo, Wimbledon is the suburban hub, with transport links second to none. Southwest trains, the underground, Crosslink, Tramlink, nine bus routes, the end of the A3 corridor and M25, linking Heathrow and Gatwick airports. More than 4 million people live within 30 minutes travel of the site. The station is located just 200 meters from the site, which is at the rear of what is currently a supermarket.</p>
        <p>Narrator: As well as having state of the art acoustics, the hall will be a stunning addition to the world's architectural heritage. And create a beautiful and peaceful town square surrounded by shops and restaurants.</p>
        <p>Frank Gehry: The character in the design of the hall if it's done right, it opens to the community, brings the community in. Because it's not in the center of London, it has an opportunity to be more focused on making the music and making the relationships with people in the community and making it a place that people from further away than even London will want to come.</p>
      </div>
    </div>
  </div>
  <div class="main-wrapper">
    <h2>An established musical and cultural reputation</h2>
    <%- content %>
  </div>
  <div class="orange banner-quote bg bg3">
    <div class="main-wrapper">A Gehry Concert Hall would transform Wimbledon and Merton into an important international cultural destination
    </div>
  </div>
  <%- include('footer'); %>
</body>

</html>