<!DOCTYPE html>
<html lang="<%= lang %>">

<head>
  <%- include('head'); %>
    <style>
      h2 {
        margin-top: 42px;
      }

      .header {
        padding-top: 80px;
        padding-bottom: 0;
        overflow: hidden;
      }

      .header-images {
        margin: 40px auto 0;
        height: 300px;
        width: 900px;
        display: flex;
        align-items: flex-end;
        justify-content: center;
      }

      .trees {
        height: 300px;
        width: 1400px;
      }

      @media (min-width: 769px) {
        .header-images {
          margin-top: 80px;
        }
      }
    </style>
</head>

<body>
  <%- include('header'); %>
    <div class="green banner-quote header">
      <div class="main-wrapper">Wimbledon is one of the most desirable suburbs of London, a world brand known for its
        Tennis Championship. It is celebrated for its green spaces and Common, reflected in Gehry's design with its
        several roof gardens.</div>
      <div class="header-images">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 888 677.207" preserveAspectRatio class="trees">
          <path fill="#ffb8b8" d="m307.693 659.535 8.724 2.613 14.231-32.408-12.876-3.856-10.079 33.651z" />
          <path d="m306.32 656.02 17.182 5.146a11.43 11.43 0 0 1 7.67 14.23l-.107.355-28.13-8.426Z" fill="#2f2e41" />
          <path fill="#ffb8b8" d="m390.602 666.663 8.551-3.135-8.023-34.473-12.62 4.627 12.092 32.981z" />
          <path
            d="m387.398 664.67 16.84-6.173a11.43 11.43 0 0 1 14.666 6.796l.127.35-27.57 10.108ZM322.321 600.868l-14.857 49.029 17.828 5.2 17.086-45.315-20.057-8.914zM369.121 612.011l13.372 46.057 18.571-8.914-13.371-43.086-18.572 5.943z"
            fill="#2f2e41" />
          <path
            d="M362.162 620.318a203.98 203.98 0 0 1-35.457-3.27l-.298-.06v-11.33l-6.79-.755 5.3-18.928c-2.47-29.16 1.04-66.09 2.175-76.719.26-2.492.432-3.891.432-3.891l5.958-50.65 9.97-9.203 4.53 2.948 8.402 8.401c9.766 24.035 17.515 46.661 17.564 48.115l32.751 104.953-.22.156c-11.373 8.028-28.709 10.233-44.317 10.233Z"
            fill="#3f3d56" />
          <path opacity=".2" d="m337.708 477.181-2.29 14.294 15.503 6.395-13.213-20.689z" />
          <path
            d="M368.128 445.438h-35.844a2.784 2.784 0 0 1-2.78-2.781v-15.45a20.703 20.703 0 0 1 41.405 0v15.45a2.784 2.784 0 0 1-2.78 2.78Z"
            fill="#2f2e41" />
          <circle cx="354.164" cy="429.328" r="15.179" fill="#ffb8b8" />
          <path
            d="M375.807 428.752h-21.918l-.224-3.147-1.124 3.147h-3.375l-.445-6.237-2.228 6.237h-6.53v-.31a16.395 16.395 0 0 1 16.377-16.376h3.09a16.395 16.395 0 0 1 16.377 16.377Z"
            fill="#2f2e41" />
          <path
            d="M353.71 448.322a2.84 2.84 0 0 1-.492-.044l-16.05-2.832v-26.524h17.668l-.438.51c-6.085 7.097-1.5 18.606 1.774 24.834a2.74 2.74 0 0 1-.218 2.909 2.77 2.77 0 0 1-2.244 1.147Z"
            fill="#2f2e41" />
          <path
            d="M382.029 512.433h-8.798a1.131 1.131 0 0 1-1.13-1.025l-1.76-18.049h14.578l-1.76 18.049a1.131 1.131 0 0 1-1.13 1.025Z"
            fill="#c7b67e" />
          <path
            d="M384.896 495.63h-14.532a1.137 1.137 0 0 1-1.136-1.135v-2.725a1.137 1.137 0 0 1 1.136-1.135h14.532a1.137 1.137 0 0 1 1.136 1.135v2.725a1.137 1.137 0 0 1-1.136 1.135Z"
            fill="#2f2e41" />
          <path d="M327.892 504.667a27.881 27.881 0 0 0 33.468 6.765l3.304-1.635Z" opacity=".2" />
          <path
            d="M380.71 501.173a6.966 6.966 0 0 0-10.676.322l-15.325-4.302-4.886 8.676 21.728 5.772a7.004 7.004 0 0 0 9.16-10.468Z"
            fill="#ffb8b8" />
          <path
            d="M344.139 510.8c-7.287.002-17.146-4.27-28.85-12.545a5.73 5.73 0 0 1-2.413-3.928c-.863-5.469 4.472-12.863 4.995-13.572l5.608-15.4c.065-.25 1.872-6.914 6.409-9.284a7.438 7.438 0 0 1 6.214-.265c8.642 3.147 1.894 27.448.967 30.635l11.45 5.39 7.272 4.634 9.957 1.042-2.703 12.512-15.123.34a15.434 15.434 0 0 1-3.783.442Z"
            fill="#3f3d56" />
          <path
            d="M887.675 396.66a98.58 98.58 0 1 0-189.221 38.809c-.096-.108-.196-.212-.292-.32a98.666 98.666 0 0 0 17.954 27.783l.068.074c.606.66 1.215 1.316 1.838 1.96a98.28 98.28 0 0 0 69.53 30.253l-3.332 180.93h10.292l-2.083-119.416 14.887-7.838-2.271-4.313-12.711 6.692-.978-56.064a98.578 98.578 0 0 0 96.319-98.55ZM595.087 348.612a115.526 115.526 0 1 0-221.75 45.48c-.113-.125-.23-.247-.342-.373a115.628 115.628 0 0 0 21.041 32.559l.08.086c.71.773 1.423 1.543 2.153 2.297a115.176 115.176 0 0 0 81.483 35.454l-3.904 212.033h12.06l-2.44-139.944 17.445-9.185-2.661-5.055-14.896 7.842-1.146-65.701a115.525 115.525 0 0 0 112.877-115.493ZM263.259 303.418a131.467 131.467 0 1 0-252.347 51.757c-.129-.143-.261-.282-.39-.426a131.582 131.582 0 0 0 23.945 37.052l.09.098c.808.88 1.62 1.756 2.451 2.614a131.068 131.068 0 0 0 92.725 40.346l-4.442 241.29h13.725l-2.778-159.254 19.853-10.453-3.029-5.752-16.951 8.924-1.304-74.767a131.465 131.465 0 0 0 128.452-131.429Z"
            fill="#e6e6e6" />
          <circle cx="756.685" cy="85.976" r="85.976" fill="#E06996" />
          <circle cx="245.559" cy="187.616" r="172.312" fill="#c7b67e" />
          <path d="M274.33 183.922a172.325 172.325 0 0 0 287.122 182.37 172.327 172.327 0 1 1-287.123-182.37Z"
            transform="translate(-156 -111.396)" opacity=".2" style="isolation:isolate" />
          <path fill="#3f3d56" d="M246.032 187.616h.474l8.521 488.532h-17.989l8.994-488.532z" />
          <path fill="#3f3d56"
            d="m244.953 461.173 28.484-14.996 3.97 7.54-28.484 14.996zM509.115 671.579s.622-13.027 13.367-11.513" />
          <circle cx="505.514" cy="652.803" r="6.379" fill="#c7b67e" />
          <path fill="#3f3d56" d="M504.476 663.545h1.801v12.604h-1.801zM67.083 669.778s.622-13.027 13.366-11.513" />
          <circle cx="63.482" cy="651.003" r="6.379" fill="#c7b67e" />
          <path fill="#3f3d56" d="M62.444 661.744h1.801v12.604h-1.801zM171.514 670.678s.622-13.027 13.367-11.512" />
          <circle cx="167.913" cy="651.903" r="6.379" fill="#c7b67e" />
          <path fill="#3f3d56"
            d="M166.875 662.644h1.801v12.604h-1.801zM449.243 83.299l12.795-10.234c-9.94-1.097-14.024 4.324-15.695 8.615-7.765-3.224-16.219 1.001-16.219 1.001l25.6 9.294a19.372 19.372 0 0 0-6.48-8.676ZM643.827 187.54l12.795-10.234c-9.94-1.096-14.024 4.325-15.695 8.615-7.766-3.224-16.22 1.002-16.22 1.002l25.6 9.293a19.372 19.372 0 0 0-6.48-8.676ZM433.955 276.492l12.794-10.233c-9.94-1.097-14.023 4.324-15.695 8.615-7.765-3.225-16.219 1.001-16.219 1.001l25.6 9.294a19.372 19.372 0 0 0-6.48-8.677ZM683.655 676.307s.622-13.027 13.367-11.513M563.92 676.307s.621-13.027 13.366-11.513M127.289 676.307s.621-13.027 13.366-11.513M737.671 676.307s.622-13.027 13.367-11.513M712.464 676.307s.622-13.027 13.366-11.513M660.465 676.307s-.622-13.027-13.366-11.513M453.403 676.307s-.622-13.027-13.366-11.513M281.452 676.307s-.622-13.027-13.367-11.513M98.697 676.307s-.622-13.027-13.367-11.513M791.904 676.307s-.621-13.027-13.366-11.513" />
          <path d="M714.481 677.207s-.622-13.027-13.366-11.513" fill="#3f3d56" />
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 397.725 407.127">
          <path fill="#a0616a" d="m172.279 400.518-9.344-.001-4.445-36.044 13.791.001-.002 36.044z" />
          <path
            d="M140.264 400.306c-.291.49-.445 2.071-.445 2.641a3.172 3.172 0 0 0 3.172 3.172h28.939a2.164 2.164 0 0 0 2.164-2.164v-1.205s1.431-3.62-1.516-8.084c0 0-3.663 3.495-9.137-1.979l-1.614-2.924-11.685 8.545-6.476.797c-1.417.175-2.673-.027-3.402 1.2Z"
            fill="#2f2e41" />
          <path fill="#a0616a" d="m130.411 400.518-9.344-.001-4.446-36.044 13.792.001-.002 36.044z" />
          <path
            d="M98.396 400.306c-.291.49-.445 2.071-.445 2.641a3.172 3.172 0 0 0 3.172 3.172h28.939a2.164 2.164 0 0 0 2.163-2.164v-1.205s1.432-3.62-1.515-8.084c0 0-3.664 3.495-9.137-1.979l-1.615-2.924-11.684 8.545-6.476.797c-1.417.175-2.673-.027-3.402 1.2ZM173.082 174.391l8.7 22.294-6.797 178.076h-19.031l-17.128-160.676-4.078 161.22-18.487-.544-20.119-178.892 13.322-16.04 63.618-5.438z"
            fill="#2f2e41" />
          <path
            d="m132.03 47.97 22.836-1.63 7.07 11.418 21.205 5.981-7.884 55.19 8.428 82.378s-30.45-4.35-32.625 4.35-55.462-8.7-55.462-8.7l18.216-56.278-1.632-44.043-4.893-25.556 22.293-10.331 2.447-12.778Z"
            fill="#e6e6e6" />
          <path
            d="M121.698 64.283s-18.198-.272-20.654 7.34-10.611 60.356-10.611 60.356l-6.253 23.11 28.002-13.866-5.98-9.229 19.574-37.533-4.078-30.178Z"
            fill="#e6e6e6" />
          <path
            d="M132.831 148.835c3.01.003 5.806-1.73 6.976-4.503.885-2.097.802-4.108.14-5.833.213-.088.424-.18.642-.258-.32-.13-.632-.277-.943-.423a7.608 7.608 0 0 0-5.637-4.11 18.408 18.408 0 0 1-4.97-12.527c-.04-9.982 8.056-18.32 18.035-18.559l.235-.004c4.469-.051 8.522 2.448 10.786 6.301a7.597 7.597 0 0 0 6.559 3.757 7.57 7.57 0 0 0 5.453-2.309c3.008-3.102 6.775-5.41 11.038-6.119 2.8-.465 5.697-.64 8.661-.493 20.293 1.01 37.751 18.994 38.185 39.307.482 22.625-17.713 41.117-40.228 41.117-11.715 0-22.256-5.01-29.607-13.002a16.92 16.92 0 0 0-12.805-5.486c-7.808 0-14.137-6.33-14.137-14.137 0-.433.021-.86.061-1.283.076-.79.763-1.437 1.556-1.436Z"
            fill="#c7b67e" />
          <g fill="#D2C598">
            <path
              d="M395.817 299.392c-.988-1.665-5.261.118-6.047-1.394-.782-1.506 3.188-3.8 5.456-9.042.409-.945 2.986-6.903 1.078-8.74-3.617-3.485-20.167 10.893-25.96 6.188-1.27-1.032-2.159-3.094-6.006-6.44-1.53-1.332-2.456-1.933-3.351-1.71-1.271.318-1.372 2.019-2.735 5.363-2.043 5.015-3.252 4.712-4.443 8.714-.884 2.97-.682 4.697-1.722 5.034-1.472.476-2.827-2.675-4.692-2.393-1.904.288-3.055 3.957-3.418 6.704-.682 5.154 1.21 8.555 2.26 12.132 1.14 3.886 1.817 9.797-.816 18.164L319.36 405.4c5.753-15.067 22.412-56.37 29.412-71.718 2.02-4.43 4.252-8.925 8.834-10.698 4.41-1.708 10.468-.688 18.19-2.549.903-.217 3.406-.854 3.72-2.326.261-1.217-1.211-1.896-.985-3.036.304-1.53 3.199-1.548 6.756-3.312 2.509-1.244 4.072-2.723 5.416-3.996.405-.383 6.428-6.155 5.114-8.372Z" />
            <path
              d="M293.286 338.047c-1.103.004-1.46 2.616-2.429 2.565-.965-.05-.946-2.66-2.864-5.286-.346-.474-2.526-3.458-3.979-3.052-2.753.77-.472 13.042-4.452 14.527-.874.326-2.142.167-4.895 1.09-1.095.367-1.657.648-1.805 1.152-.211.715.594 1.255 1.843 2.889 1.872 2.45 1.374 2.956 2.995 4.695 1.202 1.29 2.108 1.69 1.973 2.298-.19.86-2.128.615-2.528 1.612-.408 1.018 1.06 2.641 2.304 3.612 2.333 1.822 4.549 1.874 6.607 2.391 2.236.562 5.332 1.935 8.68 5.642l28.518 33.977c-5.735-7.171-21.2-27.265-26.713-35.129-1.591-2.27-3.153-4.662-2.702-7.422.435-2.658 2.683-5.337 3.998-9.664.154-.505.563-1.918-.068-2.497-.523-.479-1.28.048-1.775-.392-.663-.59.163-2.017.324-4.272.113-1.59-.162-2.784-.399-3.81-.07-.31-1.166-4.932-2.633-4.926ZM315.278 342.984l-.664-5.93.304-.449c1.404-2.078 2.12-4.108 2.128-6.035.002-.306-.013-.612-.027-.924-.057-1.237-.129-2.774.673-4.566.45-1 1.712-3.313 3.61-3.027a2.15 2.15 0 0 1 1.19.582l.135-.212c.591-.902 1.06-1.288 1.51-1.66.347-.287.705-.582 1.266-1.28.246-.307.438-.576.6-.802.49-.684 1.132-1.5 2.263-1.486 1.208.058 1.84 1.057 2.26 1.718a14.29 14.29 0 0 1 1.312 2.594c.082.206.175.438.222.51.39.572 3.554.036 4.747-.158 2.678-.447 4.996-.833 5.95.856.685 1.208.176 2.805-1.556 4.875a9.68 9.68 0 0 1-1.623 1.518c.422.251.8.638.953 1.245.361 1.437-.874 2.877-3.67 4.286-.694.352-1.629.821-2.938 1.047-.617.106-1.173.132-1.648.146-.01.275-.074.573-.242.88-.49.901-1.513 1.33-3.053 1.227-1.695-.088-3.09-.412-4.322-.695-1.075-.246-2-.455-2.728-.407-1.348.109-2.387 1.188-3.607 2.588l-3.045 3.559ZM318.36 307.683l-5.567 2.146-.512-.18c-2.367-.83-4.512-1.008-6.377-.528-.297.077-.59.168-.888.261-1.182.37-2.65.828-4.588.508-1.08-.182-3.638-.816-3.842-2.725a2.15 2.15 0 0 1 .26-1.3c-.078-.023-.155-.049-.24-.076-1.021-.343-1.514-.697-1.988-1.04-.365-.262-.741-.533-1.56-.899-.358-.16-.667-.277-.927-.376-.786-.302-1.738-.715-2.011-1.813-.251-1.183.555-2.048 1.088-2.622a14.29 14.29 0 0 1 2.176-1.927c.179-.131.38-.28.437-.344.455-.522-.866-3.447-1.356-4.551-1.112-2.478-2.073-4.621-.682-5.973.995-.969 2.67-.882 5.11.268.76.359 1.38.79 1.88 1.185.137-.472.415-.936.963-1.238 1.299-.713 3.005.116 5.077 2.463.516.583 1.207 1.368 1.758 2.577.26.57.425 1.1.56 1.557.268-.06.572-.073.911.01.997.247 1.672 1.127 1.963 2.643.344 1.662.385 3.094.423 4.356.034 1.103.067 2.051.299 2.742.447 1.277 1.754 2.009 3.418 2.833l4.214 2.043ZM315.278 290.216l-.664-5.93.304-.449c1.404-2.078 2.12-4.108 2.128-6.034.002-.307-.013-.613-.027-.925-.057-1.237-.129-2.774.673-4.566.45-1 1.712-3.313 3.61-3.026a2.15 2.15 0 0 1 1.19.58l.135-.211c.591-.902 1.06-1.288 1.51-1.66.347-.287.705-.582 1.266-1.28.246-.307.438-.576.6-.802.49-.684 1.132-1.5 2.263-1.486 1.208.058 1.84 1.057 2.26 1.718a14.29 14.29 0 0 1 1.312 2.594c.082.206.175.438.222.51.39.572 3.554.037 4.747-.158 2.678-.447 4.996-.833 5.95.856.685 1.208.176 2.805-1.556 4.875a9.68 9.68 0 0 1-1.623 1.518c.422.252.8.638.953 1.245.361 1.437-.874 2.877-3.67 4.286-.694.352-1.629.821-2.938 1.047-.617.106-1.173.132-1.648.146-.01.275-.074.573-.242.88-.49.901-1.513 1.33-3.053 1.228-1.695-.09-3.09-.413-4.322-.696-1.075-.246-2-.455-2.728-.407-1.348.11-2.387 1.188-3.607 2.588l-3.045 3.559Z" />
            <path
              d="m321.345 405.302-1.243-.779-.3-1.434.3 1.434-1.448.166c-.023-.134-.102-.443-.22-.927-.65-2.651-2.626-10.719-4.275-23.424a238.827 238.827 0 0 1-1.937-27.105c-.134-9.133.298-16.047.644-21.603.262-4.192.58-8.182.892-12.07.83-10.386 1.613-20.197 1.03-31.059-.128-2.425-.399-7.472-3.347-12.843-1.71-3.114-4.067-5.88-7.004-8.216l1.826-2.296c3.242 2.582 5.849 5.645 7.748 9.104 3.27 5.954 3.565 11.454 3.706 14.096.593 11.054-.199 20.96-1.037 31.446-.31 3.873-.627 7.847-.888 12.02-.343 5.506-.771 12.36-.638 21.375.131 9.01.776 18.016 1.91 26.773 1.63 12.545 3.578 20.492 4.218 23.103.34 1.395.412 1.687.063 2.24Z" />
            <path
              d="M299.06 272.1c-.12 0-.242-.003-.365-.012-2.496-.134-4.808-1.629-6.872-4.44-.968-1.323-1.463-2.831-2.45-5.84-.154-.464-.898-2.817-1.35-6.055-.297-2.116-.26-3 .16-3.782.465-.87 1.218-1.477 2.066-1.886-.038-.281-.008-.57.114-.865.5-1.222 1.828-1.062 2.547-.985.363.046.817.106 1.306.08.77-.037 1.184-.266 1.811-.61.6-.329 1.346-.738 2.452-.964 2.182-.455 4.01.163 4.612.366 3.17 1.057 4.734 3.521 6.543 6.376.36.572 1.6 2.656 2.416 5.514.59 2.06.507 2.977.33 3.658-.361 1.4-1.213 2.202-3.376 3.971-2.258 1.852-3.392 2.78-4.365 3.344-2.266 1.308-3.69 2.13-5.579 2.13Z" />
          </g>
          <path fill="#c7b67e" d="M199.725 136.873 64.333 111.317l-.544 9.787 134.305 32.081 1.631-16.312z" />
          <path
            d="m65.964 112.948-1.631-1.631s-7.069-3.263-7.069-3.806c0-.34-10.438-3.876-18.247-6.474-4.362-1.45-8.968 1.42-9.589 5.974l-.978 7.177c-.585 4.291 2.652 8.154 6.98 8.327l19.116.764 9.243-2.175 2.175-8.156Z"
            fill="#c7b67e" />
          <path fill="#3f3d56"
            d="m199.453 139.863.323-1.354-135.479-25.901-.236 1.699 135.392 25.556zM199.143 142.436l.31-1.485L64.15 115.289l-.089 1.737 135.082 25.41zM198.833 145.518l.077-2.392-134.866-25.885.017 1.416 134.772 26.861zM198.471 149.098l-.105-2.166-134.519-27.739-.116.531 134.74 29.374zM198.469 151.269l-.103-1.618L64.049 120.09l-.12.53 134.54 30.649zM120.67 60.816l6.737-3.73 2.922 59.668-1.019 7.34s-17.008-46.898-8.64-63.278Z" />
          <circle cx="143.72" cy="25.405" r="16.856" fill="#a0616a" />
          <path
            d="m129.31 35.465 4.03 3.217-4.573-17.355s12.778-.272 13.865-7.34c0 0 10.06-.272 12.778-.272s3.946 17.99 3.946 17.99 5.298-14.728-.14-22.34-3.534-2.99-4.621-5.71-12.235-5.219-19.303-2.446c-7.07 2.772-7.34 6.724-9.516 6.76s-9.787 10.911-2.719 19.611 6.253 7.885 6.253 7.885Z"
            fill="#2f2e41" />
          <path
            d="M180.807 146.078c1.998-1.594 3.47-3.508 4.3-5.399l19.992-13.984-6.933-9.318-19.533 15.189c-2.029.389-4.22 1.4-6.219 2.994-4.564 3.641-6.385 8.948-4.068 11.853 2.318 2.904 7.896 2.307 12.46-1.335ZM104.214 124.806c-1.482 2.082-2.372 4.327-2.65 6.373L86.19 150.122l9.228 7.053L110.02 137.2c1.843-.932 3.673-2.507 5.156-4.59 3.386-4.756 3.678-10.359.65-12.514-3.026-2.155-8.225-.046-11.612 4.71Z"
            fill="#a0616a" />
          <path
            d="M174.441 67.274s4.894-8.157 9.788-3.263c3.872 3.873 25.108 28.513 33.804 38.63a15.38 15.38 0 0 1-4.453 23.607l-27.176 14.431-7.613-11.419 23.381-16.856-35.887-19.574 8.156-25.556ZM88.508 142.436l-4.328 12.652 12.506 6.525 9.515-6.525 5.981-13.865-17.671-5.166"
            fill="#e6e6e6" />
          <path
            d="m290.69 21.167-41.078 11.159 5.977 26.655a12.09 12.09 0 0 0-6.76-2.055c-6.709 0-12.148 5.44-12.148 12.149s5.44 12.148 12.148 12.148 12.149-5.44 12.149-12.148c0-2.332-.669-4.503-1.808-6.353l-4.739-21.133 35.438-11.142 3.241 15.742a12.09 12.09 0 0 0-6.823-2.098c-6.71 0-12.149 5.439-12.149 12.148s5.44 12.149 12.149 12.149 12.148-5.44 12.148-12.149c0-2.357-.682-4.55-1.844-6.412l-5.9-28.66ZM330.978 46.084c-6.64 0-12.022 5.383-12.022 12.022 0 1.877.442 3.647 1.21 5.23l6.86 28.304 3.896-.945-5.294-21.834a11.953 11.953 0 0 0 5.35 1.268c6.64 0 12.022-5.383 12.022-12.023s-5.382-12.022-12.022-12.022ZM379.903 108.466l-6.812-27.243-4.135.972 5.328 21.309a13.026 13.026 0 0 0-5.388-1.168c-7.05 0-12.765 5.54-12.765 12.376s5.715 12.376 12.765 12.376 12.764-5.541 12.764-12.376c0-2.281-.647-4.411-1.757-6.246Z"
            fill="#c7b67e" />
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg" data-name="Layer 1" viewBox="0 0 649.675 618.616">
          <path
            d="M370.915 575.759a25.477 25.477 0 0 1-25.126-21.28l-.008-.05.031-.038a24.599 24.599 0 0 0 3.905-6.499 16.566 16.566 0 0 1-4.074 3.726l-.16.107-.009-.192c-.02-.422-.03-.841-.03-1.246a25.327 25.327 0 0 1 12.012-21.628 36.004 36.004 0 1 1 60.166-36.248l.033.097-.095.038a17.704 17.704 0 0 1-6.865 1.446 24.587 24.587 0 0 0 7.566.915l.088-.003.021.085a36.138 36.138 0 0 1 1.074 8.751l-.001.32a16.325 16.325 0 0 0 5.39 12.171 25.469 25.469 0 0 1-1.188 38.693l-.052.042-.06-.027c-3.767-1.709-6.39-3.616-8.175-5.958a24.974 24.974 0 0 0 5.187 7.926l.097.1-.12.07a25.493 25.493 0 0 1-25.135.298 25.565 25.565 0 0 1-24.472 18.384Z"
            fill="#D2C598" />
          <path
            d="M361.84 616.332a.463.463 0 0 1-.457-.398 154.95 154.95 0 0 1-.216-32.488c1.597-17.048 6.727-41.603 22.094-61.77a.463.463 0 1 1 .736.56c-15.234 19.994-20.322 44.369-21.908 61.297a153.902 153.902 0 0 0 .21 32.27.463.463 0 0 1-.458.529Z"
            fill="#3f3d56" />
          <path
            d="M369.522 548.342a.463.463 0 0 1-.272-.837 63.785 63.785 0 0 1 14.081-7.168c7.77-2.844 19.583-5.423 31.746-1.552a.463.463 0 1 1-.281.882c-11.913-3.792-23.513-1.256-31.146 1.539a62.737 62.737 0 0 0-13.856 7.048.461.461 0 0 1-.272.088Z"
            fill="#3f3d56" />
          <circle cx="136.444" cy="80.938" r="45" fill="#ff6584" />
          <path
            d="M132.877 104.5h-5.756V69.059A18.06 18.06 0 0 0 109.062 51h-24.94V0h-4v51h-34v53.5h-33.5v513h188V172.244a67.744 67.744 0 0 0-67.745-67.744Z"
            fill="#D2C598" />
          <path
            d="M305.086 417h-4.965v-6.941a18.044 18.044 0 0 0-17-18.006V345h-4v47h-18v25h-64v201h142V451.035A34.035 34.035 0 0 0 305.086 417ZM579.121 273.108v-12.049a18.044 18.044 0 0 0-17-18.006V196h-4v47h-18v30h-85v345h188V340.744a67.743 67.743 0 0 0-64-67.636Z"
            fill="#BCAF88" />
          <path fill="#fff"
            d="M486.121 322h25v20h-25zM527.121 322h25v20h-25zM568.121 322h25v20h-25zM486.121 373h25v20h-25zM527.121 373h25v20h-25zM568.121 373h25v20h-25zM486.121 424h25v20h-25zM527.121 424h25v20h-25zM568.121 424h25v20h-25zM486.121 475h25v20h-25zM527.121 475h25v20h-25zM568.121 475h25v20h-25zM486.121 526h25v20h-25zM527.121 526h25v20h-25zM568.121 526h25v20h-25zM486.121 577h25v20h-25zM527.121 577h25v20h-25zM568.121 577h25v20h-25zM66.121 145h81v6h-81zM66.121 182h81v6h-81zM66.121 219h81v6h-81zM66.121 256h81v6h-81zM66.121 293h81v6h-81zM66.121 330h81v6h-81zM66.121 367h81v6h-81zM66.121 404h81v6h-81zM66.121 441h81v6h-81zM66.121 478h81v6h-81zM66.121 515h81v6h-81zM66.121 552h81v6h-81zM214.621 444h25v20h-25zM255.621 444h25v20h-25zM296.621 444h25v20h-25zM215.121 495h25v20h-25zM256.121 495h25v20h-25zM297.121 495h25v20h-25zM215.621 546h25v20h-25zM256.621 546h25v20h-25zM297.621 546h25v20h-25zM74.121 62h25v20h-25z" />
          <path
            d="M19.487 568.2c1.987-15.98 11.89-31.723 27.128-36.923a74.187 74.187 0 0 0 .004 50.934c2.342 6.334 5.606 13.135 3.403 19.52-1.37 3.971-4.723 7.01-8.47 8.91-3.748 1.9-7.907 2.807-12.015 3.694l-.808.669c-6.52-14.723-11.23-30.826-9.242-46.805Z"
            fill="#cacaca" />
          <path
            d="M46.767 531.579a63.41 63.41 0 0 0-15.764 35.687 27.306 27.306 0 0 0 .31 8.55 15.662 15.662 0 0 0 3.896 7.264c1.756 1.93 3.775 3.699 5.03 6.021a9.59 9.59 0 0 1 .47 7.829c-1.11 3.18-3.296 5.774-5.521 8.235-2.472 2.733-5.082 5.532-6.132 9.155-.128.439-.801.216-.674-.223 1.827-6.303 7.946-9.883 10.864-15.56 1.362-2.65 1.933-5.725.657-8.522-1.116-2.445-3.197-4.272-4.991-6.21a16.712 16.712 0 0 1-4.074-6.96 25.244 25.244 0 0 1-.638-8.507 61.52 61.52 0 0 1 4.493-18.695 64.535 64.535 0 0 1 11.604-18.596c.304-.34.771.194.47.532Z"
            fill="#fff" />
          <path
            d="M31.194 562.971a9.514 9.514 0 0 1-7.242-9.965c.036-.456.745-.42.71.035a8.81 8.81 0 0 0 6.755 9.257c.444.105.219.778-.223.673ZM34.19 582.22a18.337 18.337 0 0 0 8.188-10.561c.129-.439.803-.216.674.222a19.073 19.073 0 0 1-8.543 10.972c-.394.234-.71-.401-.32-.634ZM38.13 543.5a5.385 5.385 0 0 0 5.104-.259c.39-.238.707.397.32.634a6.034 6.034 0 0 1-5.646.299.367.367 0 0 1-.226-.448.357.357 0 0 1 .449-.226Z"
            fill="#fff" />
          <path
            d="M93.066 559.817c-.24.155-.48.311-.72.473a70.919 70.919 0 0 0-9.067 7.08c-.222.197-.443.4-.659.604a74.765 74.765 0 0 0-16.237 22.227 72.606 72.606 0 0 0-3.977 10.29c-1.468 4.87-2.672 10.266-5.576 14.249a12.456 12.456 0 0 1-.97 1.198H29.606c-.06-.03-.12-.054-.18-.084l-1.047.048c.042-.186.09-.377.132-.563.024-.108.053-.216.077-.323.018-.072.036-.144.048-.21a.99.99 0 0 1 .018-.066c.012-.066.03-.126.042-.186q.396-1.608.815-3.216c0-.006 0-.006.006-.012a106.757 106.757 0 0 1 8.984-23.586c.12-.222.24-.45.371-.671a69.282 69.282 0 0 1 6.223-9.44 61.25 61.25 0 0 1 4.08-4.665 50.932 50.932 0 0 1 12.745-9.548c9.415-4.97 20.316-6.875 30.378-3.839.258.078.51.156.767.24Z"
            fill="#cacaca" />
          <path
            d="M93.007 560.15a63.41 63.41 0 0 0-34.073 19.003 27.307 27.307 0 0 0-4.9 7.014 15.662 15.662 0 0 0-1.263 8.145c.24 2.597.787 5.226.392 7.837a9.59 9.59 0 0 1-4.34 6.532c-2.8 1.873-6.106 2.627-9.365 3.252-3.619.694-7.388 1.358-10.408 3.618-.366.274-.77-.31-.405-.584 5.255-3.932 12.296-3.107 18.044-5.883 2.682-1.295 4.99-3.407 5.655-6.408.58-2.625.02-5.336-.247-7.964a16.712 16.712 0 0 1 .939-8.01 25.244 25.244 0 0 1 4.612-7.176 61.52 61.52 0 0 1 14.843-12.222 64.535 64.535 0 0 1 20.461-7.862c.447-.088.499.62.055.708Z"
            fill="#fff" />
          <path
            d="M61.672 575.84a9.514 9.514 0 0 1 .218-12.318c.303-.341.848.113.545.455a8.81 8.81 0 0 0-.18 11.458c.292.352-.293.754-.583.404ZM52.476 593.011a18.337 18.337 0 0 0 12.896-3.502c.367-.272.77.312.404.584a19.073 19.073 0 0 1-13.427 3.617c-.455-.05-.326-.749.127-.699ZM78.934 564.469a5.385 5.385 0 0 0 4.23 2.865c.456.045.326.743-.126.699a6.034 6.034 0 0 1-4.687-3.16.367.367 0 0 1 .09-.494.357.357 0 0 1 .493.09Z"
            fill="#fff" />
          <path
            d="M496.487 568.2c1.987-15.98 11.89-31.723 27.128-36.923a74.187 74.187 0 0 0 .004 50.934c2.342 6.334 5.606 13.135 3.403 19.52-1.37 3.971-4.723 7.01-8.47 8.91-3.748 1.9-7.907 2.807-12.015 3.694l-.808.669c-6.52-14.723-11.23-30.826-9.242-46.805Z"
            fill="#cacaca" />
          <path
            d="M523.767 531.579a63.41 63.41 0 0 0-15.764 35.687 27.306 27.306 0 0 0 .31 8.55 15.662 15.662 0 0 0 3.896 7.264c1.756 1.93 3.775 3.699 5.03 6.021a9.59 9.59 0 0 1 .47 7.829c-1.11 3.18-3.296 5.774-5.521 8.235-2.472 2.733-5.082 5.532-6.132 9.155-.128.439-.801.216-.674-.223 1.827-6.303 7.946-9.883 10.864-15.56 1.362-2.65 1.933-5.725.657-8.522-1.116-2.445-3.197-4.272-4.991-6.21a16.712 16.712 0 0 1-4.074-6.96 25.244 25.244 0 0 1-.638-8.507 61.52 61.52 0 0 1 4.493-18.695 64.535 64.535 0 0 1 11.604-18.596c.304-.34.771.194.47.532Z"
            fill="#fff" />
          <path
            d="M508.194 562.971a9.514 9.514 0 0 1-7.242-9.965c.036-.456.745-.42.71.035a8.81 8.81 0 0 0 6.755 9.257c.444.105.219.778-.223.673ZM511.19 582.22a18.337 18.337 0 0 0 8.188-10.561c.129-.439.803-.216.674.222a19.073 19.073 0 0 1-8.543 10.972c-.394.234-.71-.401-.32-.634ZM515.13 543.5a5.385 5.385 0 0 0 5.104-.259c.39-.238.707.397.32.634a6.034 6.034 0 0 1-5.646.299.367.367 0 0 1-.226-.448.357.357 0 0 1 .449-.226Z"
            fill="#fff" />
          <path
            d="M570.066 559.817c-.24.155-.48.311-.72.473a70.919 70.919 0 0 0-9.067 7.08c-.222.197-.443.4-.659.604a74.765 74.765 0 0 0-16.237 22.227 72.606 72.606 0 0 0-3.977 10.29c-1.468 4.87-2.672 10.266-5.576 14.249a12.456 12.456 0 0 1-.97 1.198h-26.253c-.06-.03-.12-.054-.18-.084l-1.047.048c.042-.186.09-.377.132-.563.024-.108.053-.216.077-.323.018-.072.036-.144.048-.21a.99.99 0 0 1 .018-.066c.012-.066.03-.126.042-.186q.396-1.608.815-3.216c0-.006 0-.006.006-.012a106.757 106.757 0 0 1 8.984-23.586c.12-.222.24-.45.371-.671a69.282 69.282 0 0 1 6.223-9.44 61.25 61.25 0 0 1 4.08-4.665 50.932 50.932 0 0 1 12.745-9.548c9.415-4.97 20.316-6.875 30.378-3.839.258.078.51.156.767.24Z"
            fill="#cacaca" />
          <path
            d="M570.007 560.15a63.41 63.41 0 0 0-34.073 19.003 27.307 27.307 0 0 0-4.9 7.014 15.662 15.662 0 0 0-1.263 8.145c.24 2.597.787 5.226.392 7.837a9.59 9.59 0 0 1-4.34 6.532c-2.8 1.873-6.106 2.627-9.365 3.252-3.619.694-7.389 1.358-10.409 3.618-.365.274-.769-.31-.404-.584 5.255-3.932 12.296-3.107 18.044-5.883 2.682-1.295 4.99-3.407 5.655-6.408.58-2.625.02-5.336-.247-7.964a16.712 16.712 0 0 1 .939-8.01 25.244 25.244 0 0 1 4.612-7.176 61.52 61.52 0 0 1 14.843-12.222 64.535 64.535 0 0 1 20.461-7.862c.447-.088.499.62.055.708Z"
            fill="#fff" />
          <path
            d="M538.672 575.84a9.514 9.514 0 0 1 .218-12.318c.303-.341.848.113.545.455a8.81 8.81 0 0 0-.18 11.458c.292.352-.293.754-.583.404ZM529.476 593.011a18.337 18.337 0 0 0 12.896-3.502c.367-.272.77.312.404.584a19.073 19.073 0 0 1-13.427 3.617c-.455-.05-.326-.749.127-.699ZM555.934 564.469a5.385 5.385 0 0 0 4.23 2.865c.456.045.326.743-.126.699a6.034 6.034 0 0 1-4.687-3.16.367.367 0 0 1 .09-.494.357.357 0 0 1 .493.09Z"
            fill="#fff" />
          <path
            d="M207.315 75.012c-2.09-1.474-4.375-3.012-6.931-2.95-6.187.148-9.523 9.218-15.703 8.899-3.941-.204-6.558-4.207-10.228-5.66-4.778-1.89-10.858 1.807-11.38 6.919l.615-.562a148.147 148.147 0 0 0 56.756 2.622l-13.13-9.268ZM492.315 34.012c-2.09-1.474-4.375-3.012-6.931-2.95-6.187.148-9.523 9.218-15.703 8.899-3.941-.204-6.558-4.207-10.228-5.66-4.778-1.89-10.858 1.807-11.38 6.919l.615-.562a148.147 148.147 0 0 0 56.756 2.622l-13.13-9.268ZM333.315 201.012c-2.09-1.474-4.375-3.012-6.931-2.95-6.187.148-9.523 9.218-15.703 8.899-3.941-.204-6.558-4.207-10.228-5.66-4.778-1.89-10.858 1.807-11.38 6.919l.615-.562a148.147 148.147 0 0 0 56.756 2.622l-13.13-9.268Z"
            fill="#f0f0f0" />
          <path
            d="M357.596 373.37a9.93 9.93 0 0 0 8.514-12.625l28.837-20.343-17.075-6.69-24.766 20.343a9.984 9.984 0 0 0 4.49 19.315ZM552.034 386.581a9.93 9.93 0 0 0-6.028-13.983l-1.547-35.256-14.852 10.757 3.747 31.83a9.984 9.984 0 0 0 18.68 6.652ZM504.392 601.895h-14.846l-7.063-57.265 21.912.001-.003 57.264z"
            fill="#ffb6b6" />
          <path
            d="m508.179 616.287-47.872-.002v-.606a18.634 18.634 0 0 1 18.633-18.632h.001l8.745-6.634L504 597.048h4.178Z"
            fill="#2f2e41" />
          <path fill="#ffb6b6" d="m410.119 601.502-14.693-2.124 1.199-57.687 21.687 3.135-8.193 56.676z" />
          <path
            d="m411.808 616.287-47.379-6.849.087-.599a18.634 18.634 0 0 1 21.106-15.776h.001l9.603-5.315 15.199 8.9 4.136.598ZM526.708 381.183l-24.325-6.081-38.774-9.694-8.901-2.225a1.498 1.498 0 0 0-.729-.006 1.397 1.397 0 0 0-.965.695l-5.991 9.986-14.134 23.556-16.517 27.529-13.141 21.902-3.513 5.854a4.952 4.952 0 0 0-.931 2.222c-.402 4.498-.693 9.009-1.04 13.511l-2.096 27.262-2.47 32.107-2.165 28.134-1.153 14.993-.054.702a1.52 1.52 0 0 0 1.101 1.446l23.593 7.864 3.407 1.136a1.507 1.507 0 0 0 1.846-1.048l4.647-27.881 7.476-44.861 1.171-7.024a30.984 30.984 0 0 0 .594-3.55 7.727 7.727 0 0 0 1.165-1.88 12.383 12.383 0 0 0 .904-9.086l-.118-.378-.04-.134.329-1.974.969-5.815.776-4.654c.012-.075.034-.16.053-.245a.837.837 0 0 1-.311.143c.058-.014.13-.14.176-.176.054-.044.105-.096.159-.14a.851.851 0 0 0 .016-.144c-.015-.283.138-.18.14.004.98-.857 1.865-1.9 2.776-2.811l13.974-13.974 25.197-25.197v130.586c0 6.165-.202 12.37 0 18.533.003.086 0 .173 0 .26a1.522 1.522 0 0 0 1.5 1.5h27a1.537 1.537 0 0 0 1.5-1.5l.993-10.924 2.266-24.922 2.468-27.151 1.601-17.612c.04-.429.11-.877.125-1.313.06-.145.125-.308.161-.386l.743-1.593c1.303-2.794 2.26-5.563 1.894-8.709a13.432 13.432 0 0 0-.557-2.634c-.149-.456-.327-.903-.52-1.342-.102-.232-.206-.472-.327-.695a.426.426 0 0 1 .002-.056c.42-2.253.425-4.669.632-6.948l1.13-12.43 2.27-24.97.836-9.199 2.284-25.124 1.894-20.83.105-1.162a1.506 1.506 0 0 0-1.101-1.447Z"
            fill="#2f2e41" />
          <path d="M437.682 473.546a.388.388 0 0 0 .18-.313c-.052.046-.103.095-.156.14-.008.058-.01.113-.024.173Z"
            fill="#2f2e41" />
          <path
            d="m508.31 211.63-18-18v-9l-36 9v18s-27 54-18 81c5.285 15.857 7.467 41.029 8.367 59.104.085 1.719 2.38 3.69 2.444 5.266.057 1.389-6.042 4.742-6 6 .262 7.861 4.188 10.63 4.188 10.63l81 9c-.562-6.582.988-8.17.812-14.63-.058-2.13-4.986-8.884-5-11-.013-1.99 2.96-4.281 2.987-6.26q.027-1.913.079-3.82c.598-21.966 3.757-43.13 10.122-63.29Z"
            fill="#c7b67e" />
          <path
            d="m527.635 367.523-1.822-68.758-36.756-66.161a14.486 14.486 0 0 1 25.326-14.07l39.433 70.978-.007.144-2.188 41.37-2.983 15.932 1.762 4.85-.804 14.67ZM383.427 359.376l-22.132-14.315 53.64-47.236 28.307-70.197a14.486 14.486 0 0 1 21.236-6.79 14.495 14.495 0 0 1 5.635 17.626l-30.376 75.326-14.272 8.586-5.382 7.364-4.592-.221-1.502 5.142-8.587 3.762Z"
            fill="#c7b67e" />
          <path d="M499.31 144.758a31.054 31.054 0 1 1-31.054-31.053 30.976 30.976 0 0 1 31.053 30.899v.154Z"
            fill="#ffb6b6" />
          <path
            d="M437.305 103.048c3.638-7.823 10.678-6.276 16.835-3.624 7.796-1.73 15.211-6.907 23.612-3.845 8.275 12.035 36.057 8.494 30.146 28.087-.008 4.695 8.834 1.962 7.29 9.652 4.685 14.797-16.907 42.823-29.302 36.921 3.066-5.618 10.069-18.38-.553-19.645-22.848 21.26-2.357-40.482-31.065-22.527-9.505 8.7-22.518-16.318-16.963-25.02Z"
            fill="#2f2e41" />
          <path d="M648.485 618.616H1.19a1.19 1.19 0 0 1 0-2.381h647.294a1.19 1.19 0 0 1 0 2.38Z" fill="#cacaca" />
          <path
            d="M488.59 160.975a5.196 5.196 0 0 0-.973-5.641 7.356 7.356 0 0 0-1.822-1.374l-.263-.069a3.578 3.578 0 0 0-3.988 1.647l-.138.236a3.578 3.578 0 0 0-.22 3.188l.522 1.257-3.314 5.468a1.08 1.08 0 0 0 .313 1.45l.73.5a1.08 1.08 0 0 0 1.514-.3l2.937-4.497a3.575 3.575 0 0 0 .938.261 3.578 3.578 0 0 0 3.765-2.126Z"
            fill="#fff" />
          <path
            d="M483.396 160.303a.784.784 0 0 1-.25-1.079l1.162-1.86a.783.783 0 1 1 1.329.83l-1.162 1.86a.784.784 0 0 1-1.079.25Z"
            fill="#2f2e41" />
          <path
            d="m374.172 376.93-14.518 7.437a3.693 3.693 0 0 1-4.964-1.601l-18.825-36.749a3.693 3.693 0 0 1 1.601-4.964l14.518-7.437a3.693 3.693 0 0 1 4.965 1.6l18.824 36.75a3.693 3.693 0 0 1-1.6 4.964Z"
            fill="#3f3d56" />
          <path
            d="m352.344 334.718-1.616.828a.612.612 0 0 0-.265.822 1.25 1.25 0 0 1-.543 1.682l-7.903 4.049a1.25 1.25 0 0 1-1.682-.543.612.612 0 0 0-.823-.265l-1.425.73a2.801 2.801 0 0 0-1.214 3.765l18.69 36.488a2.801 2.801 0 0 0 3.766 1.214l14.257-7.303a2.801 2.801 0 0 0 1.214-3.765l-18.69-36.488a2.801 2.801 0 0 0-3.766-1.214Z"
            fill="#fff" />
          <path d="m347.486 338.131-4.459 2.284a.179.179 0 1 1-.163-.318l4.459-2.284a.179.179 0 1 1 .163.318Z"
            fill="#fff" />
          <circle cx="348.105" cy="337.613" r=".143" fill="#fff" />
          <path
            d="M362.818 346.36a.322.322 0 0 1-.434-.14l-2.871-5.605a.322.322 0 1 1 .573-.294l2.872 5.605a.322.322 0 0 1-.14.434ZM339.486 353.085a.322.322 0 0 1-.434-.14l-.652-1.274a.322.322 0 0 1 .573-.293l.653 1.274a.322.322 0 0 1-.14.433ZM340.693 355.442a.322.322 0 0 1-.434-.14l-.652-1.274a.322.322 0 1 1 .573-.294l.653 1.274a.322.322 0 0 1-.14.434Z"
            fill="#3f3d56" />
        </svg>
      </div>
    </div>
    <div class="main-wrapper">
      <h2>The perfect site</h2>
      <div class="two-columns-slide">
        <ul>
          <li><b>4 million</b> live within half an hour</li>
          <li><b>200 yards</b> from Wimbledon Station (less than the length of a 10-carriage train)</li>
          <li>Currently an open-air car park owned by Merton Council, offering the concert hall an exclusive development
            period</li>
        </ul>
        <ul>
          <li><b>A Major transport hub</b>:<ul>
              <li>South West trains (15 mins. from Waterloo Station)</li>
              <li>District Line, Crossrail & Crosslink</li>
              <li>Croydon Tram</li>
              <li>Nine bus routes</li>
              <li>A3 road corridor</li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <video src="/video/wimbledon.mp4" controls poster="/video/wimbledon-poster.jpg"></video>
    <div class="wrap-collabsible">
      <input id="collapsible" class="toggle" type="checkbox">
      <label for="collapsible" class="lbl-toggle" tabindex="0">Video transcript</label>
      <div class="collapsible-content">
        <div class="content-inner">
          <p>Narrator: Home to the world's greatest tennis tournament, the Wimbledon brand is recognised across the
            globe. Just 15 minutes by train from Waterloo, Wimbledon is the suburban hub, with transport links second to
            none. Southwest trains, the underground, Crosslink, Tramlink, nine bus routes, the end of the A3 corridor
            and M25, linking Heathrow and Gatwick airports. More than 4 million people live within 30 minutes travel of
            the site. The station is located just 200 meters from the site, which is at the rear of what is currently a
            supermarket.</p>
          <p>Narrator: As well as having state of the art acoustics, the hall will be a stunning addition to the world's
            architectural heritage. And create a beautiful and peaceful town square surrounded by shops and restaurants.
          </p>
          <p>Frank Gehry: The character in the design of the hall if it's done right, it opens to the community, brings
            the community in. Because it's not in the center of London, it has an opportunity to be more focused on
            making the music and making the relationships with people in the community and making it a place that people
            from further away than even London will want to come.</p>
        </div>
      </div>
    </div>
    <div class="main-wrapper">
      <h2>An established musical and cultural reputation</h2>
      <ul>
        <li><b><a href="https://wimbledonmusicfestival.co.uk/">Wimbledon International Music Festival</a></b>
          <ul>
            <li>"Jewel in London's Cultural Crown" — Jessica Duchen, Independent</li>
            <li>"One of the Capitals major autumn events" — Evening standard</li>
            <li>"One of the most distinguished festivals in the UK" — Musical Opinion</li>
            <li>"A roster you would only expect at one of Europe's major festivals, such as Lucerne, Edinburgh and
              Salzburg” — Robin O'Neill, Philharmonia, Conductor</li>
          </ul>
        </li>
        <li><b><a href="https://www.wimbledonbookfest.org/">Wimbledon BookFest</a></b>: London's leading literary festival</li>
        <li><b><a href="http://newwimbledontheatre.net">New Wimbledon Theatre</a></b>: 1500 seats. [<a href="https://www.atgtickets.com/venues/new-wimbledon-theatre/">ATG Tickets</a>]</li>
        <li><b><a href="https://polkatheatre.com">Polka Theatre</a></b>: UK's major children's theatre - recent major refurbishment</li>
        <li><b><a href="https://www.odeon.co.uk">Odeon</a></b> and <b><a href="https://www.curzon.com">Curzon</a></b> cinema chains</li>
        <li><b><a href="https://mmf.org.uk">Merton Music Foundation</a></b>. Arts Council Educational Hub</li>
        <li>Lively choral, music, dance and art scene</li>
      </ul>
      <p>A Gehry Concert Hall would transform Wimbledon and Merton into an important international cultural destination.
      </p>
      <p>The concert hall will expand and consolidate what is already a significant cultural cluster in an around
        Wimbledon and Merton, creating an important cultural hub along the Broadway.</p>
      <ol>
        <li>Wimbledon Concert Hall</li>
        <li>HMV and Odeon cinemas</li>
        <li>New Wimbledon Theatre</li>
        <li>Polka Theatre</li>
        <li>Wimbledon Station</li>
      </ol>
      <a href="https://www.google.com/maps/place/The+Broadway,+London,+UK">
        <figure>
          <picture>
            <source media="(min-width: 769px)" type="image/webp" srcset="/wimbledon/images/the-broadway.webp" />
            <source media="(min-width: 769px)" type="image/jpeg" srcset="/wimbledon/images/the-broadway.jpg" />
            <source media="(min-width: 320px)" type="image/webp" srcset="/wimbledon/images/the-broadway-mobile.webp" />
            <source media="(min-width: 320px)" type="image/jpeg" srcset="/wimbledon/images/the-broadway-mobile.jpg" />
            <img class="image" src="/wimbledon/images/the-broadway.jpg" alt="Wimbledon, The Broadway">
          </picture>
          <figcaption>Wimbledon, The Broadway</figcaption>
        </figure>
      </a>
      <h2>Growing importance of the suburbs</h2>
      <p>Society habits are changing. People are working more and more from home, and reluctant to travel to the centre.
        In many cities, Paris for example, great concert halls have been established in the suburbs.</p>
      <p>The 15-minute neighbourhood and the 30-minute city are ideas promoted by the Late Richard Rogers in which a
        community could be satisfied in all its needs within a 15-minute cycle ride from home - and by Arup considering
        the life contained within a travel distance of 30 minutes.</p>
      <p>Renzo Piano, architect of the Shard, and many cultural projects has written: “We need to transform the
        peripheries (suburbs) and fertilise them with great public buildings such as universities, concert halls and
        libraries.”</p>
    </div>
    <div class="ochre banner-quote bg bg3">
      <div class="main-wrapper">“Cultural centres give a special dimension to a city, and I don't see why all the great
        cultural centres
        need to be in the middle of a metropolis like London. If you have a beautiful concert hall in a fantastic,
        successful, aspiring suburb like Wimbledon I would think it absolutely invaluable.”
        <span>— Frank Gehry</span>
      </div>
    </div>
    <div class="main-wrapper">
      <%- content %>
    </div>
    <div class="orange banner-quote bg bg3">
      <div class="main-wrapper">A Gehry Concert Hall would transform Wimbledon and Merton into an important
        international cultural destination
      </div>
    </div>

    <%- include('footer'); %>
</body>

</html>