<!DOCTYPE html>
<html lang="<%= lang %>">

<head>
  <%- include('head'); %>
    <style>
      h2 {
        margin-top: 42px;
      }
      .hero {
        padding-top: 40px;
        padding-bottom: 80px;
      }
      .hero-image {
        margin-bottom: 0;
      }
      .hero-image figcaption {
        background-color: var(--banner-background-color);
      }
    </style>
</head>

<body>
  <%- include('header'); %>
    <figure class="hero-image">
      <picture>
        <source media="(min-width: 769px)" type="image/webp" srcset="/wimbledon/images/rooftop.webp" />
        <source media="(min-width: 769px)" type="image/jpeg" srcset="/wimbledon/images/rooftop.jpg" />
        <source media="(min-width: 320px)" type="image/webp" srcset="/wimbledon/images/rooftop-mobile.webp" />
        <source media="(min-width: 320px)" type="image/jpeg" srcset="/wimbledon/images/rooftop-mobile.jpg" />
        <img class="image" width="100%" src="/wimbledon/images/rooftop.jpg" alt="Gehry Partners. New World Center Rooftop, Miami Beach, FL. 2011">
      </picture>
      <figcaption>Gehry Partners. New World Center Rooftop, Miami Beach, FL. 2011</figcaption>
    </figure>
    <div class="hero banner-quote">
      <div class="main-wrapper">Wimbledon, in the Borough of Merton, is one of the most desirable suburbs of London, a world brand known for its Tennis Championship and celebrated for its green spaces, reflected in Gehry's design with its several roof gardens.</div>
    </div>
    <div class="main-wrapper">
      <h2>The perfect site</h2>
      <div class="two-columns-slide">
        <ul>
          <li><b>4 million</b> live within half an hour</li>
          <li><b>200 yards</b> from Wimbledon Station (less than the length of a 10-carriage train)</li>
          <li>Currently an open-air car park owned by Merton Council, offering the concert hall an exclusive development
            period</li>
        </ul>
        <ul>
          <li><b>A Major transport hub</b>:<ul>
              <li>South West trains (15 mins. from Waterloo Station)</li>
              <li>District Line, Crossrail & Crosslink</li>
              <li>Croydon Tram</li>
              <li>Nine bus routes</li>
              <li>A3 road corridor</li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <video src="/video/wimbledon.mp4" controls poster="/video/wimbledon-poster.jpg"></video>
    <div class="wrap-collabsible">
      <input id="wimbledon-collapsible" class="toggle" type="checkbox">
      <label for="wimbledon-collapsible" class="lbl-toggle" tabindex="0">Video transcript</label>
      <div class="collapsible-content">
        <div class="content-inner">
          <p>Narrator: Home to the world's greatest tennis tournament, the Wimbledon brand is recognised across the
            globe. Just 15 minutes by train from Waterloo, Wimbledon is the suburban hub, with transport links second to
            none. Southwest trains, the underground, Crosslink, Tramlink, nine bus routes, the end of the A3 corridor
            and M25, linking Heathrow and Gatwick airports. More than 4 million people live within 30 minutes travel of
            the site. The station is located just 200 meters from the site, which is at the rear of what is currently a
            supermarket.</p>
          <p>Narrator: As well as having state of the art acoustics, the hall will be a stunning addition to the world's
            architectural heritage. And create a beautiful and peaceful town square surrounded by shops and restaurants.
          </p>
          <p>Frank Gehry: The character in the design of the hall if it's done right, it opens to the community, brings
            the community in. Because it's not in the center of London, it has an opportunity to be more focused on
            making the music and making the relationships with people in the community and making it a place that people
            from further away than even London will want to come.</p>
        </div>
      </div>
    </div>
    <div class="main-wrapper">
      <h2>An established musical and cultural reputation</h2>
      <ul>
        <li><b><a href="https://wimbledonmusicfestival.co.uk/" target="_blank">Wimbledon International Music Festival</a></b>
          <ul>
            <li>"Jewel in London's Cultural Crown" — Jessica Duchen, Independent</li>
            <li>"One of the Capitals major autumn events" — Evening standard</li>
            <li>"One of the most distinguished festivals in the UK" — Musical Opinion</li>
            <li>"A roster you would only expect at one of Europe's major festivals, such as Lucerne, Edinburgh and
              Salzburg” — Robin O'Neill, Philharmonia, Conductor</li>
          </ul>
        </li>
        <li><b><a href="https://www.wimbledonbookfest.org/" target="_blank">Wimbledon BookFest</a></b>: London's leading literary festival</li>
        <li><b><a href="http://newwimbledontheatre.net" target="_blank">New Wimbledon Theatre</a></b>: 1500 seats. [<a href="https://www.atgtickets.com/venues/new-wimbledon-theatre/" target="_blank">ATG Tickets</a>]</li>
        <li><b><a href="https://polkatheatre.com" target="_blank">Polka Theatre</a></b>: UK's major children's theatre - recent major refurbishment</li>
        <li><b><a href="https://www.odeon.co.uk" target="_blank">Odeon</a></b> and <b><a href="https://www.curzon.com" target="_blank">Curzon</a></b> cinema chains</li>
        <li><b><a href="https://mmf.org.uk" target="_blank">Merton Music Foundation</a></b>. Arts Council Educational Hub</li>
        <li>Lively choral, music, dance and art scene</li>
      </ul>
      <h4>A Gehry Concert Hall would transform Wimbledon and Merton into an important international cultural destination.
      </h4>
      <p>The concert hall will expand and consolidate what is already a significant cultural cluster in and around
        Wimbledon and Merton, creating an important cultural hub along the Broadway.</p>
      <ol>
        <li>Wimbledon Concert Hall</li>
        <li>HMV and Odeon cinemas</li>
        <li>New Wimbledon Theatre</li>
        <li>Polka Theatre</li>
        <li>Wimbledon Station</li>
      </ol>
      <a href="https://www.google.com/maps/place/The+Broadway,+London,+UK">
        <figure>
          <picture>
            <source media="(min-width: 769px)" type="image/webp" srcset="/wimbledon/images/the-broadway.webp" />
            <source media="(min-width: 769px)" type="image/jpeg" srcset="/wimbledon/images/the-broadway.jpg" />
            <source media="(min-width: 320px)" type="image/webp" srcset="/wimbledon/images/the-broadway-mobile.webp" />
            <source media="(min-width: 320px)" type="image/jpeg" srcset="/wimbledon/images/the-broadway-mobile.jpg" />
            <img class="image" src="/wimbledon/images/the-broadway.jpg" alt="Wimbledon, The Broadway">
          </picture>
          <figcaption>Wimbledon, The Broadway</figcaption>
        </figure>
      </a>
      <h2>Growing importance of the suburbs</h2>
      <p>Society habits are changing. People are working more and more from home, and reluctant to travel to the centre.
        In many cities, Paris for example, great concert halls have been established in the suburbs.</p>
      <p>The 15-minute neighbourhood and the 30-minute city are ideas promoted by the Late Richard Rogers in which a
        community could be satisfied in all its needs within a 15-minute cycle ride from home - and by Arup considering
        the life contained within a travel distance of 30 minutes.</p>
      <p>Renzo Piano, architect of the Shard, and many cultural projects has written: “We need to transform the
        peripheries (suburbs) and fertilise them with great public buildings such as universities, concert halls and
        libraries.”</p>
    </div>
    <div class="ochre banner-quote bg bg3">
      <div class="main-wrapper">“Cultural centres give a special dimension to a city, and I don't see why all the great
        cultural centres
        need to be in the middle of a metropolis like London. If you have a beautiful concert hall in a fantastic,
        successful, aspiring suburb like Wimbledon I would think it absolutely invaluable.”
        <span>— Frank Gehry</span>
      </div>
    </div>
    <div class="main-wrapper">
      <%- content %>
    </div>
    <div class="orange banner-quote bg bg3">
      <div class="main-wrapper">A Gehry Concert Hall would transform Wimbledon and Merton into an important
        international cultural destination
      </div>
    </div>

    <%- include('footer'); %>
</body>

</html>